@mixin m-window-variables() {
    --m-window-z-index: 101;
}

@mixin m-window() {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: var(--m-window-z-index);
    display: flex;
    align-items: center;
    justify-content: center;
}