<div>
    <!-- Sandbox template -->
    <h2>Skins</h2>
    <p class="m-u--margin-bottom">
        This page shows the possible skins for the navbar component.
        You can use the navbar like an navigation menu or like tabs. Both have a main level and sub level skins, combine them to create beautiful two levels menus or tabs.
    </p>

    <m-button @click="toggleMultiline">{{ multiline ? 'Remove' : 'Add' }} multiline</m-button>

    <h2>Navigation menu</h2>
    <h3>Fisrt level</h3>
    <p>Skin nav-main (default)</p>
    <m-navbar :selected.sync="selectedItem"
              :multiline="true"
              title-button-left="Naviguer précédent"
              title-button-right="Naviguer suivant">
        <m-navbar-item value="item1"
                       label="1 2 3 4 5 6 7 8 9 0 6 7">
        </m-navbar-item>
        <m-navbar-item value="item1"
                       label="1 2 3 4 5 6 7 8 9 0 6 7">
        </m-navbar-item>
        <!-- <m-navbar-item value="item1"
                       label="1 2 3 4 5 6 7 8 9 0 6 7">
        </m-navbar-item>
        <m-navbar-item value="item1"
                       label="1 2 3 4 5 6 7 8 9 0 6 7">
        </m-navbar-item> -->
        <m-navbar-item value="item1"
                       label="1 2 3 4 5 6 7 8 9 0 6 7">
        </m-navbar-item>
        <m-navbar-item value="item9"
                       label="9 singes">
        </m-navbar-item>
        <m-navbar-item value="item1"
                       label="1 2 3 4 5 6 7 8 9 0 6 7">
        </m-navbar-item>
        <!-- <m-navbar-item value="item2">
            2
        </m-navbar-item>
        <m-navbar-item value="item8">
            8 asdasda sd asda sdas dasd asd asd asda dd
        </m-navbar-item> -->
        <!-- <m-navbar-item value="item10"
                       :disabled="true">
            10 chèvres et 10 moutons
        </m-navbar-item> -->
        <!-- <m-navbar-item value="item11"
                       label=" 11 barnacles magestueuses volant vers le lointain">

        </m-navbar-item> -->
        <!-- <m-navbar-item value="item12">
            12 zaine d'oeufs
        </m-navbar-item> -->
    </m-navbar>

    <!-- <p>Skin nav-soft</p>
    <m-navbar skin="nav-soft"
              :selected.sync="selectedItem"
              :multiline="multiline"
              title-button-left="Naviguer précédent"
              title-button-right="Naviguer suivant"
              style="background: #09f;">
        <m-navbar-item value="item1">
            1 souris verte
        </m-navbar-item>
        <m-navbar-item value="item2">
            2
        </m-navbar-item>
        <m-navbar-item value="item3">
            3
        </m-navbar-item>
        <m-navbar-item value="item4">
            4
        </m-navbar-item>
        <m-navbar-item value="item5">
            5
        </m-navbar-item>
        <m-navbar-item value="item6">
            6
        </m-navbar-item>
        <m-navbar-item value="item7">
            7
        </m-navbar-item>
        <m-navbar-item value="item8">
            8
        </m-navbar-item>
        <m-navbar-item value="item9">
            9 singes
        </m-navbar-item>
        <m-navbar-item value="item10"
                       :disabled="true">
            10 chèvres et 10 moutons
        </m-navbar-item>
        <m-navbar-item value="item11">
            11 barnacles magestueuses volant vers le lointain
        </m-navbar-item>
        <m-navbar-item value="item12">
            12 zaine d'oeufs
        </m-navbar-item>
    </m-navbar>

    <h3>Sub level</h3>
    <p>Skin nav-sub</p>
    <m-navbar skin="nav-sub"
              :selected.sync="selectedItem"
              :multiline="multiline"
              title-button-left="Naviguer précédent"
              title-button-right="Naviguer suivant">
        <m-navbar-item value="item1">
            1 souris verte
        </m-navbar-item>
        <m-navbar-item value="item2">
            2
        </m-navbar-item>
        <m-navbar-item value="item3">
            3
        </m-navbar-item>
        <m-navbar-item value="item4">
            4
        </m-navbar-item>
        <m-navbar-item value="item5">
            5
        </m-navbar-item>
        <m-navbar-item value="item6">
            6
        </m-navbar-item>
        <m-navbar-item value="item7">
            7
        </m-navbar-item>
        <m-navbar-item value="item8">
            8
        </m-navbar-item>
        <m-navbar-item value="item9">
            9 singes
        </m-navbar-item>
        <m-navbar-item value="item10"
                       :disabled="true">
            10 chèvres et 10 moutons
        </m-navbar-item>
        <m-navbar-item value="item11">
            11 barnacles magestueuses volant vers le lointain
        </m-navbar-item>
        <m-navbar-item value="item12">
            12 zaine d'oeufssss
        </m-navbar-item>
    </m-navbar>

    <h3>Two levels</h3>
    <p>nav-main and nav-sub combined</p>
    <m-navbar skin="nav-main"
              :selected.sync="selectedItemMainMenu"
              :multiline="multiline"
              title-button-left="Naviguer précédent"
              title-button-right="Naviguer suivant">
        <m-navbar-item value="item1"
                       @click="toggleNavPres">
            Présentation du cours
        </m-navbar-item>
        <m-navbar-item value="item2"
                       @click="toggleNavMod">
            Modules d'apprentissage
        </m-navbar-item>
        <m-navbar-item value="item3"
                       @click="closeNav">
            Évaluations et travaux pratiques
        </m-navbar-item>
        <m-navbar-item value="item4"
                       @click="closeNav">
            Résultats
        </m-navbar-item>
        <m-navbar-item value="item5"
                       @click="closeNav">
            Ressources complémentaires et références bibliographiques
        </m-navbar-item>
        <m-navbar-item value="item6"
                       @click="closeNav">
            Calendrier de session
        </m-navbar-item>
    </m-navbar>
    <m-accordion-transition>
        <div v-if="navOpenPres">
            <m-navbar skin="nav-sub"
                      :selected.sync="selectedItemPres">
                <m-navbar-item value="item1">
                    Introduction
                </m-navbar-item>
                <m-navbar-item value="item2">
                    Liens entre le cours et le programme
                </m-navbar-item>
                <m-navbar-item value="item3">
                    Modalités particulières de l’offre de cours
                </m-navbar-item>
                <m-navbar-item value="item4">
                    Objectifs généraux
                </m-navbar-item>
                <m-navbar-item value="item5">
                    Objectifs particuliers
                </m-navbar-item>
                <m-navbar-item value="item6">
                    Éléments de contenu
                </m-navbar-item>
                <m-navbar-item value="item7">
                    Approche pédagogique
                </m-navbar-item>
                <m-navbar-item value="item8">
                    Modalités d'encadrement
                </m-navbar-item>
                <m-navbar-item value="item9">
                    Appréciation de l'enseignement
                </m-navbar-item>
            </m-navbar>
        </div>
    </m-accordion-transition>
    <m-accordion-transition>
        <div v-if="navOpenMod">
            <m-navbar skin="nav-sub"
                      :selected.sync="selectedItemMod">
                <m-navbar-item value="item1">
                    Module de la semaine 1
                </m-navbar-item>
                <m-navbar-item value="item2">
                    Module de la semaine 2
                </m-navbar-item>
                <m-navbar-item value="item3">
                    Module de la semaine 3
                </m-navbar-item>
                <m-navbar-item value="item4">
                    Module de la semaine 4
                </m-navbar-item>
                <m-navbar-item value="item5">
                    Module de la semaine 5
                </m-navbar-item>
                <m-navbar-item value="item6">
                    Module de la semaine 6
                </m-navbar-item>
                <m-navbar-item value="item7">
                    Module de la semaine 7
                </m-navbar-item>
                <m-navbar-item value="item8">
                    Module de la semaine 8
                </m-navbar-item>
                <m-navbar-item value="item9">
                    Module de la semaine 9
                </m-navbar-item>
            </m-navbar>
        </div>
    </m-accordion-transition>

    <h2>Tabs</h2>
    <h3>Fist level</h3>
    <p>Skin tab-light-main : only one tab</p>
    <m-navbar skin="tab-light"
              :selected.sync="selectedItem"
              :multiline="multiline"
              title-button-left="Naviguer précédent"
              title-button-right="Naviguer suivant">
        <m-navbar-item value="item1">
            1 souris verte
        </m-navbar-item>
    </m-navbar>

    <p>Skin tab-light-main : more than one tab</p>
    <m-navbar skin="tab-light-main"
              :selected.sync="selectedItem"
              :multiline="multiline"
              title-button-left="Naviguer précédent"
              title-button-right="Naviguer suivant">
        <m-navbar-item value="item1">
            1 souris verte
        </m-navbar-item>
        <m-navbar-item value="item2">
            2
        </m-navbar-item>
        <m-navbar-item value="item3">
            3
        </m-navbar-item>
        <m-navbar-item value="item4">
            4
        </m-navbar-item>
        <m-navbar-item value="item5">
            5
        </m-navbar-item>
        <m-navbar-item value="item6">
            6
        </m-navbar-item>
        <m-navbar-item value="item7">
            7
        </m-navbar-item>
        <m-navbar-item value="item8">
            8
        </m-navbar-item>
        <m-navbar-item value="item9">
            9 singes
        </m-navbar-item>
        <m-navbar-item value="item10"
                       :disabled="true">
            10 chèvres et 10 moutons
        </m-navbar-item>
        <m-navbar-item value="item11">
            11 barnacles magestueuses volant vers le lointain
        </m-navbar-item>
        <m-navbar-item value="item12">
            12 zaine d'oeufs
        </m-navbar-item>
    </m-navbar>

    <p>Skin tab-dark-main : only one tab</p>
    <m-navbar skin="tab-dark-main"
              :selected.sync="selectedItem"
              :multiline="multiline"
              title-button-left="Naviguer précédent"
              title-button-right="Naviguer suivant">
        <m-navbar-item value="item1">
            1 souris verte
        </m-navbar-item>
    </m-navbar>

    <p>Skin tab-dark-main : more than one tab</p>
    <m-navbar skin="tab-dark-main"
              :selected.sync="selectedItem"
              :multiline="multiline"
              title-button-left="Naviguer précédent"
              title-button-right="Naviguer suivant">
        <m-navbar-item value="item1">
            1 souris verte
        </m-navbar-item>
        <m-navbar-item value="item2">
            2
        </m-navbar-item>
        <m-navbar-item value="item3">
            3
        </m-navbar-item>
        <m-navbar-item value="item4">
            4
        </m-navbar-item>
        <m-navbar-item value="item5">
            5
        </m-navbar-item>
        <m-navbar-item value="item6">
            6
        </m-navbar-item>
        <m-navbar-item value="item7">
            7
        </m-navbar-item>
        <m-navbar-item value="item8">
            8
        </m-navbar-item>
        <m-navbar-item value="item9">
            9 singes
        </m-navbar-item>
        <m-navbar-item value="item10"
                       :disabled="true">
            10 chèvres et 10 moutons
        </m-navbar-item>
        <m-navbar-item value="item11">
            11 barnacles magestueuses volant vers le lointain
        </m-navbar-item>
        <m-navbar-item value="item12">
            12 zaine d'oeufs
        </m-navbar-item>
    </m-navbar>

    <h3>Sub level</h3>
    <p>Skin tab-arrow</p>
    <m-navbar skin="tab-arrow"
              :selected.sync="selectedItem"
              :multiline="multiline"
              title-button-left="Naviguer précédent"
              title-button-right="Naviguer suivant">
        <m-navbar-item value="item1">
            1 souris verte
        </m-navbar-item>
        <m-navbar-item value="item2">
            2
        </m-navbar-item>
        <m-navbar-item value="item3">
            3
        </m-navbar-item>
        <m-navbar-item value="item4">
            4
        </m-navbar-item>
        <m-navbar-item value="item5">
            5
        </m-navbar-item>
        <m-navbar-item value="item6">
            6
        </m-navbar-item>
        <m-navbar-item value="item7">
            7
        </m-navbar-item>
        <m-navbar-item value="item8">
            8
        </m-navbar-item>
        <m-navbar-item value="item9">
            9 singes
        </m-navbar-item>
        <m-navbar-item value="item10"
                       :disabled="true">
            10 chèvres et 10 moutons
        </m-navbar-item>
        <m-navbar-item value="item11">
            11 barnacles magestueuses volant vers le lointain
        </m-navbar-item>
        <m-navbar-item value="item12">
            12 zaine d'oeufs
        </m-navbar-item>
    </m-navbar>

    <p>Skin tab-underline</p>
    <m-navbar skin="tab-underline"
              :selected.sync="selectedItem"
              :multiline="multiline"
              title-button-left="Naviguer précédent"
              title-button-right="Naviguer suivant">
        <m-navbar-item value="item1">
            1 souris verte
        </m-navbar-item>
        <m-navbar-item value="item2">
            2
        </m-navbar-item>
        <m-navbar-item value="item3">
            3
        </m-navbar-item>
        <m-navbar-item value="item4">
            4
        </m-navbar-item>
        <m-navbar-item value="item5">
            5
        </m-navbar-item>
        <m-navbar-item value="item6">
            6
        </m-navbar-item>
        <m-navbar-item value="item7">
            7
        </m-navbar-item>
        <m-navbar-item value="item8">
            8
        </m-navbar-item>
        <m-navbar-item value="item9">
            9 singes
        </m-navbar-item>
        <m-navbar-item value="item10"
                       :disabled="true">
            10 chèvres et 10 moutons
        </m-navbar-item>
        <m-navbar-item value="item11">
            11 barnacles magestueuses volant vers le lointain
        </m-navbar-item>
        <m-navbar-item value="item12">
            12 zaine d'oeufs
        </m-navbar-item>
    </m-navbar>

    <p>Skin tab-soft</p>
    <m-navbar skin="tab-soft"
              :selected.sync="selectedItem"
              :multiline="multiline"
              title-button-left="Naviguer précédent"
              title-button-right="Naviguer suivant">
        <m-navbar-item value="item1">
            1 souris verte
        </m-navbar-item>
        <m-navbar-item value="item2">
            2
        </m-navbar-item>
        <m-navbar-item value="item3">
            3
        </m-navbar-item>
        <m-navbar-item value="item4">
            4
        </m-navbar-item>
        <m-navbar-item value="item5">
            5
        </m-navbar-item>
        <m-navbar-item value="item6">
            6
        </m-navbar-item>
        <m-navbar-item value="item7">
            7
        </m-navbar-item>
        <m-navbar-item value="item8">
            8
        </m-navbar-item>
        <m-navbar-item value="item9">
            9 singes
        </m-navbar-item>
        <m-navbar-item value="item10"
                       :disabled="true">
            10 chèvres et 10 moutons
        </m-navbar-item>
        <m-navbar-item value="item11">
            11 barnacles magestueuses volant vers le lointain
        </m-navbar-item>
        <m-navbar-item value="item12">
            12 zaine d'oeufs
        </m-navbar-item>
    </m-navbar>

    <h3>Two levels</h3>
    <p>nav-main and nav-sub combined</p>
    <m-navbar skin="tab-light-main"
              :selected.sync="selectedItemMainMenu"
              :multiline="multiline"
              title-button-left="Naviguer précédent"
              title-button-right="Naviguer suivant">
        <m-navbar-item value="item1"
                       @click="toggleNavPres">
            Présentation du cours
        </m-navbar-item>
        <m-navbar-item value="item2"
                       @click="toggleNavMod">
            Modules d'apprentissage
        </m-navbar-item>
        <m-navbar-item value="item3"
                       @click="closeNav">
            Évaluations et travaux pratiques
        </m-navbar-item>
        <m-navbar-item value="item4"
                       @click="closeNav">
            Résultats
        </m-navbar-item>
        <m-navbar-item value="item5"
                       @click="closeNav">
            Ressources complémentaires et références bibliographiques
        </m-navbar-item>
        <m-navbar-item value="item6"
                       @click="closeNav">
            Calendrier de session
        </m-navbar-item>
    </m-navbar>
    <m-accordion-transition>
        <div v-if="navOpenPres">
            <m-navbar skin="tab-underline"
                      :selected.sync="selectedItemPres">
                <m-navbar-item value="item1">
                    Introduction
                </m-navbar-item>
                <m-navbar-item value="item2">
                    Liens entre le cours et le programme
                </m-navbar-item>
                <m-navbar-item value="item3">
                    Modalités particulières de l’offre de cours
                </m-navbar-item>
                <m-navbar-item value="item4">
                    Objectifs généraux
                </m-navbar-item>
                <m-navbar-item value="item5">
                    Objectifs particuliers
                </m-navbar-item>
                <m-navbar-item value="item6">
                    Éléments de contenu
                </m-navbar-item>
                <m-navbar-item value="item7">
                    Approche pédagogique
                </m-navbar-item>
                <m-navbar-item value="item8">
                    Modalités d'encadrement
                </m-navbar-item>
                <m-navbar-item value="item9">
                    Appréciation de l'enseignement
                </m-navbar-item>
            </m-navbar>
        </div>
    </m-accordion-transition>
    <m-accordion-transition>
        <div v-if="navOpenMod">
            <m-navbar skin="tab-underline"
                      :selected.sync="selectedItemMod">
                <m-navbar-item value="item1">
                    Module de la semaine 1
                </m-navbar-item>
                <m-navbar-item value="item2">
                    Module de la semaine 2
                </m-navbar-item>
                <m-navbar-item value="item3">
                    Module de la semaine 3
                </m-navbar-item>
                <m-navbar-item value="item4">
                    Module de la semaine 4
                </m-navbar-item>
                <m-navbar-item value="item5">
                    Module de la semaine 5
                </m-navbar-item>
                <m-navbar-item value="item6">
                    Module de la semaine 6
                </m-navbar-item>
                <m-navbar-item value="item7">
                    Module de la semaine 7
                </m-navbar-item>
                <m-navbar-item value="item8">
                    Module de la semaine 8
                </m-navbar-item>
                <m-navbar-item value="item9">
                    Module de la semaine 9
                </m-navbar-item>
            </m-navbar>
        </div>
    </m-accordion-transition>

    <h2>No skin</h2>
    <p>Navbar with no style applied</p>
    <div style="background-color: black; color: pink;">
        <m-navbar skin="plain"
                  :selected.sync="selectedItem"
                  :multiline="multiline"
                  title-button-left="Naviguer précédent"
                  title-button-right="Naviguer suivant">
            <m-navbar-item value="item1">
                1 souris verte
            </m-navbar-item>
            <m-navbar-item value="item2">
                2
            </m-navbar-item>
            <m-navbar-item value="item3">
                3
            </m-navbar-item>
            <m-navbar-item value="item4">
                4
            </m-navbar-item>
            <m-navbar-item value="item5">
                5
            </m-navbar-item>
            <m-navbar-item value="item6">
                6
            </m-navbar-item>
            <m-navbar-item value="item7">
                7
            </m-navbar-item>
            <m-navbar-item value="item8">
                8
            </m-navbar-item>
            <m-navbar-item value="item9">
                9 singes
            </m-navbar-item>
            <m-navbar-item value="item10"
                           :disabled="true">
                10 chèvres et 10 moutons
            </m-navbar-item>
            <m-navbar-item value="item11">
                11 barnacles magestueuses volant vers le lointain
            </m-navbar-item>
            <m-navbar-item value="item12">
                12 zaine d'oeufs
            </m-navbar-item>
        </m-navbar>
    </div> -->

    <!-- <h2>Support for vue-router named route (MODUL-616)</h2>
    <m-navbar :selected.sync="selectedItemMod">
        <m-navbar-item value="item1">
        </m-navbar-item>
        <m-navbar-item value="item2"
                       :url="{path: '/'}">
        </m-navbar-item>
    </m-navbar> -->
</div>
