@import '../commons/';

@mixin m-tablist-variables() {
    --m-tablist-border-color: var(--m-color-border);
    --m-tablist-border-width: var(--m-border-width-sm);
}

@mixin m-tablist() {
    position: relative;
    z-index: 0;
    display: flex;

    &::before {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        content: '';
        height: var(--m-tablist-border-width);
        background: var(--m-tablist-border-color);
    }
}

@mixin m-tablist-arrow-variables() {
    --m-tablist-bg: var(--m-color-white);
    --m-tablist-border-width: var(--m-border-width);
    --m-tablist-arrow-width: 24px;
}

@mixin m-tablist-arrow() {
    &::before {
        bottom: calc(var(--m-tablist-arrow-width) / 2);
    }

    &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: calc(var(--m-tablist-arrow-width) / 2);
        left: 0;
        z-index: -1;
        content: '';
        background: var(--m-tablist-bg);
    }
}

@mixin m-tablist-underline-variables() { 
    --m-tablist-border-width: var(--m-border-width-lg);
}
