@import 'commons';

$m-option-mixed-bgc: rgba(0, 0, 0, 0.33);
$m-option-mixed-bgc--hover: rgba(0, 0, 0, 0.66);

.m-option {
    display: inline-flex;

    &__button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        background: $m-option-mixed-bgc;
        outline: none;
        border: 0;
        transition: background-color $m-transition-duration--l ease, color $m-transition-duration--l ease;
        color: $m-color--grey-light;

        &:not(:disabled) {
            &:hover,
            &:focus {
                color: $m-color--white;
                background: $m-option-mixed-bgc--hover;
                cursor: pointer;
            }

            &:active {
                background: black;
            }
        }
    }

    &__list {
        width: 100%;
        margin: 0;
        padding: 0;
        max-height: 213px; // Magic number: height of 4 items
        overflow-x: hidden;
        overflow-y: auto;
        border: 1px solid $m-color--border;
        border-radius: $m-border-radius--s;
        background: $m-color--white;
        box-shadow: $m-box-shadow;

        @include m-scrollbar();
    }
}
