@import 'tab.mixin';

.mc-tab {
    @include m-tab-variables();

    @include m-tab();

    &::after {
        @include m-tab-selected-border();
        opacity: 0;
    }

    &:not(.mc-tab--disabled):not(:disabled) {
        cursor: pointer;

        &:not([aria-selected="true"]):not(.mc-tab--selected) {
            @include m-tab-hover();
        }
    }

    &[aria-selected="true"],
    &.mc-tab--selected {
        @include m-tab-selected();

        &::after {
            opacity: 1;
        }
    }

    &:disabled,
    &.mc-tab--disabled {
        @include m-tab-disabled();
    }

    + .mc-tab {
        margin-left: var(--m-tab-space-between);
    }
}
