@import '../commons/';

@mixin m-tab-variables() {
    --m-tab-p: var(--m-space-md) var(--m-space-lg);
    --m-tab-bg: var(--m-color-grey-lighter);
    --m-tab-text-color: var(--m-color-text);
    --m-tab-bg-hover: var(--m-color-grey-light);
    --m-tab-bg-selected: var(--m-color-white);
    --m-tab-selected-border-color: var(--m-color-active);
    --m-tab-selected-border-width: var(--m-border-width-lg);
    --m-tab-border-color: var(--m-color-border);
    --m-tab-space-between: 2px;
    --m-tab-arrow-width: 22px;
}

@mixin m-tab() {
    transition-property: background-color, color, font-weight, font-size;
    transition-duration: $m-transition-duration;
    transition-timing-function: ease;
    position: relative;
    z-index: 0;
    display: block;
    appearance: none;
    border: none;
    background: var(--m-tab-bg);
    padding: var(--m-tab-p);
    font-family: inherit;
    font-size: inherit;
    text-align: center;
    text-decoration: none;
    color: var(--m-tab-text-color);
}

@mixin m-tab-selected() {
    background: var(--m-tab-bg-selected);
    z-index: 1;

    &:first-child {
        border-left: var(--m-border-width-sm) solid var(--m-tab-border-color);
    }

    &:last-child {
        border-right: var(--m-border-width-sm) solid var(--m-tab-border-color);
    }
}

@mixin m-tab-selected-border() {
    transition: opacity $m-transition-duration ease;
    position: absolute;
    top: 0;
    right: calc(var(--m-border-width-sm) * -1);
    left: calc(var(--m-border-width-sm) * -1);
    content: '';
    height: var(--m-tab-selected-border-width);
    background: var(--m-tab-selected-border-color);
}

@mixin m-tab-hover() {
    &:hover,
    &:focus {
        background: var(--m-tab-bg-hover);
    }
}
