@import 'commons';
$m-datepicker--item-dimension: $m-touch-size !default;

.m-datepicker {
    display: inline-flex;
    flex-direction: column;

    @include m-input-inline-spacing();

    &.m--has-validation-message {
        .m-datepicker__validation-message {
            margin-top: $m-space-2xs;
        }
    }

    &__validation-message {
        transition: margin-top $m-transition-duration ease;
    }

    &__header-label {
        margin: 0;
        padding: $m-space-xs $m-space;
        @include m-font-size('sm');
        font-weight: $m-font-weight-semi-bold;
        color: $m-color-white;
        background: $m-color-interactive;
    }
}
