.test-group-header-custom-class-name.test-group-header-custom-class-name {
    border-left: 4px solid #000;
    background: #ccc;
}

.test-group-header-custom-class-name.test-group-header-custom-class-name th {
    padding: 8px 16px;
}

.test-icon-accordion-custom-class-name.test-icon-accordion-custom-class-name {
    color: blue;
}

.test-cell-custom-class-name.test-cell-custom-class-name {
    background: #000;
    color: #fff;
}

.test-red-background {
    background: red;
}
