@import 'commons';

:root {
    // states
    --m-input-style--color-hover: #{ $m-color--grey-darkest };
    --m-input-style--color-focus: #{ $m-color--interactive };
    --m-input-style--color-label-up: #{ $m-color--grey };
    --m-input-style--color-border-up: #{ $m-color--grey-light };
    --m-input-style--color-error: #{ $m-color--error };
    --m-input-style--color-valid: #{ $m-color--success };
    --m-input-style--color-disabled: #{ $m-color--disabled };
    --m-input-style--color-waiting: #{ $m-color--active };
    // core
    --m-input-style--box-shadow: none;
    --m-input-style--color-background: white;
    --m-input-style--color-input: #{ $m-color--text};
    --m-input-style--color-label: #{ $m-color--grey };
    --m-input-style--color-border: #{ $m-color--grey-light };
    --m-input-style--color-buttons: #{ $m-color--grey };
    --m-input-style--color-placeholder: #{ $m-input-style--color-disabled };
}

@mixin input-style-cursor($cursor: default) {
    &,
    .m-input-style__label,
    .m-input-style__input,
    .m-input-style__input input,
    .m-input-style__input textarea {
        cursor: $cursor;

        @content;
    }
}

.m-input-style {
    @include input-style-cursor(text);

    position: relative;
    width: 100%;
    display: inline-flex;
    outline: none;
    line-height: $m-input-style--base-height;

    ::placeholder {
        color: var(--m-input-style--color-placeholder);
    }

    &__main {
        width: 100%;
        display: inherit;
        box-shadow: var(--m-input-style--box-shadow);
        border-radius: $m-input-style--border-radius;
        border: 1px solid var(--m-input-style--color-border);
        background-color: var(--m-input-style--color-background);
        transition: border-color $m-transition-duration--l ease-in-out;
    }

    &__append {
        display: inherit;
        overflow: hidden;
        position: relative;
    }

    &__body {
        flex: 1;
        display: inherit;
        flex-direction: column;
        padding: $m-input-style--padding;
        transition: margin-top $m-transition-duration ease;
    }

    &__label {
        z-index: 1;
        position: relative;
        transform-origin: 0 0;
        font-size: $m-font-size;
        transform: translate3d(0, 0, 0);
        color: var(--m-input-style--color-label);
        font-weight: $m-font-weight--light;

        .m-icon {
            font-size: 85%;
            margin-right: $m-spacing--s;
        }
    }

    &__text {
        left: 0;
        position: relative;
        display: inline-block;
        background-color: var(--m-input-style--color-background);
        transition: background $m-transition-duration ease, padding $m-transition-duration ease, left $m-transition-duration ease;
    }

    &__input {
        display: inherit;
        position: relative;
        align-items: center;
        flex: 1 1 auto;
        width: 100%;
        font-weight: $m-font-weight--light;
        min-height: $m-input-style--base-height;
        margin-top: -$m-input-style--base-height;

        .m-icon-button.m-icon-button,
        .m-icon.m-icon {
            position: relative;
            z-index: 0;
            font-size: 16px;
            color: var(--m-input-style--color-buttons);
        }

        .m-icon-button.m-icon-button {
            min-width: auto;
            min-height: auto;
        }

        .m-icon.m-icon {
            transition: color 0.3s ease;
        }
    }

    &__input,
    input,
    textarea {
        outline: none;
        text-overflow: ellipsis;
        font-family: inherit;
        text-align: left;
        background: none;
        border: none;
        color: var(--m-input-style--color-input);
    }

    input,
    textarea {
        overflow: hidden;
        width: 100%;
        padding: 0;
        font-size: $m-font-size;
        font-weight: $m-font-weight--light;
        line-height: inherit;
        vertical-align: middle;

        &::-ms-clear,
        &::-ms-reveal {
            display: none;
        }

        &:-webkit-autofill {
            background: rgba($m-color--white, 0);
            -webkit-box-shadow: 0 0 0 1000px $m-color--white inset !important;
        }
    }

    textarea {
        resize: none;
    }

    &__required-marker {
        color: $m-color--accent;
        font-size: inherit;
        font-weight: $m-font-weight--bold;
        vertical-align: baseline;
    }

    &__content {
        flex: 1;
        max-width: 100%;
        position: relative;
    }

    &__suffix {
        display: inherit;
        align-items: center;
    }

    &__transparent-text {
        opacity: 0;
        width: 0;
        user-select: none;
    }

    &__adjust-width-auto {
        height: 0;
        opacity: 0;
        user-select: none;
        white-space: nowrap;
        padding-right: $m-input-style--padding;
    }

    &__spinner {
        margin-left: $m-spacing--s;
    }

    // modifiers

    &:hover:not(.m--is-disabled):not(.m--is-waiting):not(.m--has-error):not(.m--is-valid):not(.m--is-focus):not(.m--is-readonly) {
        --m-input-style--color-label: var(--m-input-style--color-hover);
        --m-input-style--color-border: var(--m-input-style--color-hover);
    }

    &.m--is-focus:not(.m--has-error):not(.m--is-valid) {
        --m-input-style--color-label: var(--m-input-style--color-focus);
        --m-input-style--color-border: var(--m-input-style--color-focus);
        --m-input-style--color-buttons: var(--m-input-style--color-focus);
    }

    &.m--has-cursor-pointer {
        @include input-style-cursor(pointer);
    }

    &.m--has-label:not(.m--is-label-up) {
        .m-input-style__content {
            opacity: 0;
        }
    }

    &.m--is-label-up {
        --m-input-style--color-label: var(--m-input-style--color-label-up);
        --m-input-style--color-border: var(--m-input-style--color-border-up);

        .m-input-style__label {
            transform: translate3d(0, calc((-50% * 0.8) - #{$m-input-style--padding}), 0) scale(0.8);
        }

        .m-input-style__text {
            left: -$m-spacing--xs; // Magic number: align label with text zone
            padding-left: $m-spacing--xs;

            .m-inplace-edit & {
                background: $m-color--information;
            }
        }
    }

    &.m--has-error {
        --m-input-style--color-label: var(--m-input-style--color-error);
        --m-input-style--color-border: var(--m-input-style--color-error);
        --m-input-style--color-buttons: var(--m-input-style--color-error);
    }

    &.m--is-valid {
        --m-input-style--color-label: var(--m-input-style--color-valid);
        --m-input-style--color-border: var(--m-input-style--color-valid);
        --m-input-style--color-buttons: var(--m-input-style--color-valid);
    }

    &.m--is-disabled,
    &.m--is-waiting {
        --m-input-style--color-label: var(--m-input-style--color-disabled);
        --m-input-style--color-border: var(--m-input-style--color-disabled);
        --m-input-style--color-buttons: var(--m-input-style--color-disabled);
        --m-input-style--color-input: var(--m-input-style--color-disabled);
    }

    &.m--is-disabled,
    &.m--is-waiting,
    &.m--is-readonly {
        .m-input-style__main {
            border-style: dashed;
        }
    }

    &.m--is-disabled {
        @include input-style-cursor() {
            user-select: none;
        }
    }

    &.m--is-waiting {
        @include input-style-cursor(wait);
    }

    &.m--is-readonly {
        @include input-style-cursor();
    }

    &.m--is-anim-ready {
        .m-input-style__label {
            transition-property: color, transform, top;
            transition-duration: $m-transition-duration--l;
            transition-timing-function: ease;
        }

        .m-input-style__content {
            transition: opacity 0.3s ease;
        }
    }

    &.m--is-tag-h1,
    &.m--is-tag-h2,
    &.m--is-tag-h3,
    &.m--is-tag-h4,
    &.m--is-tag-h5,
    &.m--is-tag-h6 {
        input,
        textarea,
        ::placeholder,
        .m-input-style__label,
        .m-input-style__transparent-text {
            font-size: inherit;
            font-weight: $m-font-weight--semi-bold;
        }
    }

    &.m--is-tag-p {
        input,
        textarea,
        ::placeholder,
        .m-input-style__label,
        .m-input-style__transparent-text {
            font-weight: $m-font-weight--light;
        }
    }

    &.m--is-tag- {
        &h1 {
            @include m-h1-font-style();
        }

        &h2 {
            @include m-h2-font-style();
        }

        &h3 {
            @include m-h3-font-style();
        }

        &h4 {
            @include m-h4-font-style();
        }

        &h5 {
            @include m-h5-font-style();
        }

        &h6 {
            @include m-h6-font-style();
        }
    }
}
