@import '../../styles/commons';
// $modul-home-design--max-width: 460px;
// $modul-home-design--width: 200px;
// $modul-home-design--width--l: 270px;

.mw-philosophy {
    max-width: $mw-max-width;
    margin: 0 auto;
    color: $m-color-white;
    padding: $m-space-xl $m-space;

    @media (min-width: $m-mq-min-sm) {
        padding: $m-space-xxxxl $m-space-lg;
    }

    &__title {
        margin-top: 0;
        text-transform: uppercase;
        font-weight: $m-font-weight-black;
    }

    &__description {
        text-align: left;
        opacity: 0.9;
    }

    &__content {
        text-align: left;
        opacity: 0.9;
    }
}

.modul-home-design {

    // background: $modul-color--black-grey;
    padding: $m-space;
    color: $m-color-white;

    @media (min-width: $m-mq-min-sm) {
        padding: $m-space-lg;
    }

    > div {
        flex: 1;
    }

    &__article {
        @media (min-width: $m-mq-min-sm) {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__template {
        &-container {
            display: flex;
            justify-content: flex-end;

            // @media (max-width: $m-mq-max-sm) {
            //     max-width: $modul-home-design--max-width;
            //     margin: 0 auto;
            //     justify-content: center;
            // }
        }

        &__header,
        &__footer {
            background: rgba($modul-color--yellow, 0.3);
            border: 1px solid $modul-color--yellow;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__header {
            height: 60px;
            padding: 16px;

            &-logo {
                color: $modul-color--yellow;

                @include m-font-size('md');
            }
        }

        &__body {
            display: flex;
            margin: $m-space-sm 0;

            &-content,
            &-aside {
                background: rgba(255, 255, 255, 0.2);
                border: 1px solid $modul-color--yellow;
                border-radius: 4px;
                padding: $m-space-sm;
                height: 200px;
            }

            &-content {
                width: calc(70% - #{$m-space-sm});
            }

            &-aside {
                margin-left: $m-space-sm;
                width: 30%;
            }
        }

        &__footer {
            height: 30px;
        }

        li {
            display: inline-block;
            border: 1px solid $modul-color--yellow;
            border-radius: 4px;
            background: rgba($modul-color--yellow, 0.3);
            width: 50px;
            height: 12px;
            margin: 0 4px;
        }

        &[max-width~="329px"] {
            .modul-home-design__template {
                &__body {
                    flex-direction: column;

                    &-content,
                    &-aside {
                        width: 100%;
                    }

                    &-content {
                        height: 140px;
                    }

                    &-aside {
                        margin: $m-space-sm 0 0 0;
                        height: calc(70px - #{$m-space-sm});
                    }
                }
            }

            ul {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 18px;
            }

            li {
                width: 20px;
                height: 4px;
                display: block;
            }
        }
    }
}
