@import '../../styles/commons';

.mw-philosophy {
    max-width: $mw-max-width;
    margin: 0 auto;
    color: $m-color--white;
    padding: $m-spacing--xl $m-spacing;

    @media (min-width: $m-mq--min--s) {
        padding: $m-spacing--xxxxl $m-spacing--l;
    }

    &__title {
        margin-top: 0;
        text-transform: uppercase;
        font-weight: $m-font-weight--black;
    }
}
