$m-dialog-box-transition: transform $m-transition-duration ease, opacity $m-transition-duration linear;
$m-dialog-backdrop-transition: opacity $m-transition-duration-md linear;
$m-dialog-box-default-transform: translate3d(0, 40px, 0);

@mixin m-dialog-variables() {
    --m-dialog-max-width: 380px;
    --m-dialog-body-padding: var(--m-space-md) var(--m-space) var(--m-space-lg);

    @include m-screen-min-sm() {
        --m-dialog-body-padding: var(--m-space-md) var(--m-space-md) var(--m-space-lg);
    }
}

@mixin m-dialog() {
    @include m-window();
    overflow-x: hidden;
    overflow-y: auto;

    @include m-scrollbar();
}

@mixin m-dialog-box() {
    position: relative;
    left: 0;
    z-index: 1;
    transform: $m-dialog-box-default-transform;
    opacity: 0;
    overflow: hidden;
    margin: auto var(--m-space);
    border-radius: $m-radius;
    background-color: var(--m-color-white);
    width: 100%;
    max-width: var(--m-dialog-max-width);
}

@mixin m-dialog-box-open() {
    transition: $m-dialog-box-transition;
    transform: translate3d(0, 0, 0);
    opacity: 1;
}

@mixin m-dialog-box-close() {
    transition: $m-dialog-box-transition;
    transform: $m-dialog-box-default-transform;
    opacity: 0;
}

@mixin m-dialog-box-width-md() {
    --m-dialog-max-width: 500px;
}

@mixin m-dialog-box-width-lg() {
    --m-dialog-max-width: 672px;
}

@mixin m-dialog-header {
    padding: var(--m-space);
    border-bottom: $m-border-sm;

    > :first-child {
        margin-top: 0;
    }

    @include m-screen-min-sm() {
        padding-right: var(--m-space-md);
        padding-left: var(--m-space-md);
    }
}

@mixin m-dialog-body {
    padding: var(--m-dialog-body-padding);

    > :first-child {
        margin-top: 0;
    }

    &:first-child {
        --m-dialog-body-padding: var(--m-space-lg) var(--m-space) var(--m-space-lg);

        @include m-screen-min-sm() {
            --m-dialog-body-padding: var(--m-space-lg) var(--m-space-md) var(--m-space-lg);
        }
    }
}

@mixin m-dialog-footer {
    padding: 0 var(--m-space) var(--m-space-md);

    > :first-child {
        margin-top: 0;
    }

    &:first-child {
        padding-top: var(--m-space-md);
    }

    @include m-screen-min-sm() {
        padding-right: var(--m-space-md);
        padding-left: var(--m-space-md);
    }
}

@mixin m-dialog-backdrop() {
    @include m-backdrop(0);
}

@mixin m-dialog-backdrop-open() {
    @include m-backdrop-open();
}

@mixin m-dialog-backdrop-close() {
    @include m-backdrop-close();
}

@mixin m-dialog-buttons-area() {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    > :not(:first-child) {
        margin-top: var(--m-space);
    }

    &:not(:first-child) {
        margin-top: var(--m-space-lg);
    }
}

