.m-qa-panel {
    background-color: black;
    color: white;
    padding: 1rem;
    width: 20rem !important;
    height: 10rem;
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: 2000;
}
