@mixin m-css-var-space() {
    --m-space-xxxxl: 64px;
    --m-space-xxxl: 56px;
    --m-space-xxl: 48px;
    --m-space-xl: 40px;
    --m-space-lg: 32px;
    --m-space-md: 24px;
    --m-space: 16px;
    --m-space-sm: 8px;
    --m-space-xs: 4px;
    --m-space-xxs: 2px;
}
