.m-u--app-body {
    @at-root {
        body#{&} {
            min-width: $m-min-width;
        }
    }

    margin: 0;
    box-sizing: border-box;
    font-style: normal;
    color: var(--m-color-text);
    font-weight: $m-font-weight-light;
    font-size: 1rem;
    line-height: $m-line-height;

    *,
    *::before,
    *::after {
        box-sizing: inherit;
    }

    ::selection {
        background: $m-color-ul-yellow;
        color: $m-color-text;
    }

    ul {
        padding: 0;
        list-style: none;
    }

    li {
        padding: 0;
    }

    abbr {
        text-decoration: none;
        box-shadow: 0 1px $m-color-grey-dark;
    }

    a {
        color: $m-color-interactive;
    }

    // ======================================================================
    //  Titles
    // ======================================================================

    @include m-titles-styles();

    // ======================================================================
    //  Text
    // ======================================================================

    @include m-text-styles();
}
