// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

@mixin modul-page-title() {
    font-size: 34px; // magic number
    font-weight: $m-font-weight--black;
    text-transform: uppercase;

    @media (min-width: $m-mq--min--s) {
        font-size: 36px; // magic number
    }
}

@mixin mw-highlighted-title() {
    margin: 0;
    color: $m-color--white;
    position: relative;
    text-decoration: none;

    &::before {
        content: "";
        display: block;
        margin-bottom: $m-padding;
        width: 32px;
        height: 4px;
        background-color: $modul-color--yellow;
    }
}
