@import 'commons';

$m-line-height-rich-text: 21px !default;

.m-rich-text {
    position: relative;

    /deep/ .m-input-style {
        &__label {
            line-height: $m-line-height-rich-text;
        }
    }
}
