@import 'commons';

$m-searchfield-color: $m-color-grey-lightest;

.m-copy-to-clipboard {
    &__button {
        @include m-button;

        border: unset;
        background-color: inherit;
        border-radius: 0 $m-input-style--border-radius $m-input-style--border-radius 0;
        width: 100%;
        color: $m-color-interactive;
        padding: 0 $m-input-style--padding;
        white-space: nowrap;

        @include m-button--hover();
    }

    .m-input-style.m--is-readonly .m-input-style__main {
        border-style: solid;
    }
}
