@import 'commons';

.m-option-title {
    display: flex;
    text-decoration: none;
    font-weight: $m-font-weight-bold;
    color: $m-color-grey;
    padding: $m-space $m-space $m-space-sm $m-space;

    @include m-font-size('sm');
}
