@import "commons";

.m-photo-editor {
    position: relative;

    &__message {
        margin-bottom: $m-spacing;
    }

    &__file-name {
        margin-top: 0;
        font-weight: $m-font-weight--regular;
    }

    &__delete {
        position: absolute;
        right: $m-spacing--l;
        z-index: 2;

        &.m-icon-button {
            border-radius: 0;
            color: $m-color--white;
            background-color: rgba($m-color--grey-darker, 0.6);
        }
    }

    &__cancel {
        margin-top: $m-spacing;
    }
}
