@import 'commons';

.m-periodpicker {
    display: inline-flex;
    flex-direction: column;

    &__body {
        display: inline-flex;
        flex-wrap: wrap;
        gap: $m-space;
    }

    &.m--has-validation-message {
        .m-periodpicker__validation-message {
            margin-top: $m-space-2xs;
        }
    }

    &__validation-message {
        transition: margin-top $m-transition-duration ease;
    }
}
