@import '../../../commons/';

@mixin m-bullet-list() {
    @include m-list();

    &,
    ul,
    ol {
        padding-left: var(--m-space-md);
    }

    li {
        position: relative;
        list-style: none;

        &::before {
            position: absolute;
            top: 8px; // Magic number
            left: calc(var(--m-space) * -1);
            content: '';
            transform: translate3d(-50%, 0, 0);
        }
    }

    > li {
        > ul > li::before,
        &::before,
        > ul > li > ul > li::before,
        > ul > li > ul > li > ul > li::before {
            width: 4px;
            height: 4px;
        }

        > ul > li::before,
        &::before {
            border-radius: 50%;
            border: 1px solid var(--m-color-grey-dark);
        }

        &::before,
        > ul > li > ul > li::before {
            background: var(--m-color-grey-dark);
        }

        > ul > li > ul > li::before,
        > ul > li > ul > li > ul > li::before {
            border: 1px solid var(--m-color-grey-dark);
        }

        > ul > li > ul > li > ul > li > ul > li::before {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 3px 0 3px 4px;
            border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) var(--m-color-grey-dark);
        }
    }
}