@mixin m-list() {
    ul,
    ol {
        margin: 0;
    }

    li {
        position: relative;
        margin: 0;

        + li {
            margin-top: var(--m-space-xs);
        }

        > ul,
        > ol {
            margin: var(--m-space-xs) 0 0 0;
        }
    }
}
