$m-input-style--base-height: 1.3rem;
$m-input-style--border-radius: 3px;
$m-input-style--padding: 12px;
$m-input-style--icon-button-size: 22px;

$m-input-style--color-focus: $m-color-interactive !default;
$m-input-style--color-error: $m-color-error !default;
$m-input-style--color-valid: $m-color-success !default;
$m-input-style--color-disabled: $m-color-disabled !default;
$m-input-style--color-waiting: $m-color-active !default;
