@import 'commons';
@import '../button/button.scss';

.m-toggle-buttons {
    display: inline-flex;

    &__button {
        position: relative;
        z-index: 0;
        transition-property: background-color, border-color, color, outline;
        transition-duration: $m-transition-duration;
        transition-timing-function: ease;
        display: flex;
        align-items: center;
        border: 1px solid $m-color-interactive;
        font-family: inherit;
        text-decoration: none;
        appearance: none;
        color: $m-color-interactive;
        outline-color: $m-color-interactive-darker;
        outline-offset: 2px;
        outline-width: 1px;
        user-select: none;
        overflow: hidden;
        background-color: $m-color-white;
        font-family: inherit;
        font-size: inherit;
        font-weight: $m-font-weight-semi-bold;
        text-align: center;
        padding: 10px $m-space;

        &:not(:disabled) {
            cursor: pointer;

            &:not(.m--pressed):hover {
                background-color: $m-color-information;
            }

            &.m--pressed:hover {
                background-color: $m-color-interactive-darker;
            }

        }

        &:disabled {
            cursor: default;
            color: $m-color-disabled;
            background: $m-color-white;
            border-color: $m-color-disabled;

            &.m--pressed {
                color: $m-color-white;
                background: $m-color-disabled;
            }
        }

        &.m--pressed {
            color: $m-color-white;
            background: $m-color-interactive;
        }
    }



    &.m--is-default {
        .m-toggle-buttons__button {
            border-radius: 0;

            &:not(:nth-last-child(1)) {
                border-right: none;
            }

            &:nth-child(1) {
                border-radius: $m-border-radius 0 0 $m-border-radius;
            }

            &:nth-last-child(1) {
                border-radius: 0 $m-border-radius $m-border-radius 0;
            }

            &.m--pressed+.m--pressed {
                border-left-color: $m-color-white;
            }
        }
    }

    &.m--is-rounded {
        flex-wrap: wrap;
        gap: $m-space-xs 0;

        .m-toggle-buttons__button {
            border-radius: 25px; // magic number

            &:not(:last-child) {
                margin-right: $m-space-xs;
            }
        }
    }
}
