:root {
    --m-min-width: 320px;
    --m-max-width-xl: 1400px;
    --m-max-width-lg: 1200px;
    --m-max-width: 1000px;
    --m-max-width-sm: 800px;
    --m-max-width-xs: 400px;
    --m-max-width-text: 720px;
}
