@import 'commons';

.m-decimalfield {
    position: relative;

    @include m-input-inline-spacing();

    &__validation {
        transition: margin-top $m-transition-duration ease;
        display: flex;
        justify-content: flex-end;

        &-message {
            flex: 1 1 auto;
        }
    }

    &__input {
        appearance: textfield;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            appearance: textfield;
        }
    }
}
