@import '../../styles/commons';

$w-sidebar-max-width: 230px;
$w-sidebar-max-width--s: 100%;

$w-content-max-width: $mw-max-width;

.mw-expandable-panel {
    background-color: $m-color-white;

    &__sidemenu-body {
        padding: $m-space-lg;
    }

    &,
    &__page,
    &__body {
        height: 100%;
    }

    &__body {
        position: relative;
    }

    &__page {
        position: relative;
        min-width: $m-min-width;
    }

    &__menu-button.mw-expandable-panel__menu-button.mw-expandable-panel__menu-button {
        position: absolute;
        top: 0;
        left: 0;
    }

    &__search {
        background-color: $modul-color--black-grey;
        padding: m-spacing(l);
    }

    &__content {
        margin: 0 auto;
        padding: $m-space-xxxxl $m-space;
        max-width: $w-content-max-width;

        @media (min-width: $m-mq--min--s) {
            padding-left: $m-space-lg;
            padding-right: $m-space-lg;
        }
    }

    &__sidemenu {
        position: relative;
        height: 100%;
        background-color: $modul-color--grey-light;
    }

    &__sidemenu-title {
        font-size: $m-font-size-md;
        text-transform: uppercase;
        font-weight: $m-font-weight-black;
    }

    &__sidemenu-sub-title {
        margin-top: 16px;
        margin-bottom: 8px;
        font-size: $m-font-size-md;
        font-weight: $m-font-weight-black;
    }

    &__sidemenu-item {
        a {
            transition: font-weight $m-transition-duration--s linear;
            display: block;
            line-height: 1.3;
            padding: $m-space $m-space $m-space 12px;
            border-left: 2px solid $m-color-grey-light;
            margin-left: 1px;
            font-size: $m-font-size;
            font-weight: $m-font-weight;
            text-decoration: none;
            color: $m-color-text;

            &:hover,
            &:focus {
                font-weight: $m-font-weight-bold;
            }

            &.router-link-active {
                font-weight: $m-font-weight-black;
                border-left: 4px solid $m-color-ul-yellow;
                margin-left: 0;
            }
        }
    }

    &__beta,
    &__new {
        display: inline;
        vertical-align: middle;
    }
}
