<div class="mw-component-api">
    <div class="mu-mt-md">
        <m-dropdown v-model="componentMeta"
                    :readonly="componentMetas.length === 1"
                    :label="'modul:component' | f-m-i18n">
            <m-dropdown-item v-for="(component,index) in componentMetas"
                             :key="index"
                             :value="component"
                             :label="component.componentName"></m-dropdown-item>
        </m-dropdown>
    </div>
    <m-accordion-transition>
        <div v-if="componentMeta"
             :key="componentMeta.componentName"
             class="mw-component-api__component">
            <modul-component-properties :component-name="componentMeta.componentName"
                                        class="mu-mt-md"></modul-component-properties>
            <modul-component-events :component-name="componentMeta.componentName"
                                    class="mu-mt-md"></modul-component-events>
            <modul-component-slots :component-name="componentMeta.componentName"
                                   class="mu-mt-md"></modul-component-slots>
        </div>
    </m-accordion-transition>
</div>
