@import 'commons';

.m-searchfield-stories {
    --m-searchfield--color-icon: white;
    --m-searchfield--color-button: #{ $m-color--ul-yellow };
    --m-searchfield--color-button-hover: #{ lighten($m-color--ul-yellow, 15%) };
    --m-searchfield--color-button-active: #{ darken($m-color--ul-yellow, 15%) };
    --m-input-style--box-shadow: #{ $m-box-shadow };
    --m-input-style--color-background: white;
    --m-input-style--color-hover: #{ $m-color--ul-yellow };
    --m-input-style--color-focus: #{ $m-color--ul-yellow };
    --m-input-style--color-label-up: #{ $m-color--ul-yellow };
}
