@import "commons";

.m-multi-select {
    display: inline-flex;
    flex-direction: column;

    &:focus {
        outline: 0 solid transparent;
    }

    &:not(.m--is-disabled) {
        .m-multi-select__arrow {
            cursor: pointer;
        }
    }

    &__arrow {
        display: flex;
        cursor: pointer;

        &__icon {
            transition: transform $m-transition-duration ease, color $m-transition-duration ease !important;
        }

        &.m--is-open {
            .m-multi-select__arrow__icon {
                transform: rotate(-180deg);
            }
        }
    }

    &__validation-message {
        transition: margin-top $m-transition-duration ease;

        &.m--has-validation-message {
            margin-top: $m-spacing--xs;
        }
    }

    &__chips {
        min-height: 24px; // Magic number
        outline: none;
    }

    &__chip {
        margin: $m-margin--xs/2 $m-margin--xs $m-margin--xs/2 0;
    }

    &__popup-header {
        border-bottom: 1px solid $m-color--grey-light;
        color: $m-color--interactive-darker;

        &.m--is-item-active {

            &.m--is-focus,
            &:hover {
                background: none;

                span {
                    text-decoration: underline;
                }
            }
        }
    }

    &__more {
        white-space: nowrap;
        font-size: 12px;
    }

    &__visually-hidden {
        @include m-visually-hidden();
    }

    /deep/ .m-input-style__body {
        padding-top: 10px; // Magic number pour avoir la même hauteur que le m-select
        padding-bottom: 9px; // Magic number pour avoir la même hauteur que le m-select
    }
}
