@import 'commons';

.m-multi-select {
    &__icon {
        display: flex;

        &.m--is-open {
            .m-multi-select__icon-arrow {
                transform: rotate(-180deg);
            }
        }
    }

    &__input {
        outline: none;
    }

    &__icon-arrow {
        transition: transform $m-transition-duration ease, color $m-transition-duration ease !important;
    }

    &__validation-message {
        transition: margin-top $m-transition-duration ease;
    }

    &__chips {
        min-height: 24px;  // Magic number
    }

    &__chip {
        margin: $m-margin--xs/2 $m-margin--xs $m-margin--xs/2 0;
    }

    &__popup-header {
        border-bottom: 1px solid $m-color--grey-light;
        color: $m-color--interactive-darker;

        &.m--is-item-active {
            &.m--is-focus,
            &:hover {
                background: none;

                span {
                    text-decoration: underline;
                }
            }
        }
    }

    &__more {
        white-space: nowrap;
        font-size: 12px;
    }

    /deep/ .m-input-style__body {
        padding-top: 10px; // Magic number pour avoir la même hauteur que le m-select
        padding-bottom: 9px; // Magic number pour avoir la même hauteur que le m-select
    }

    &.m--has-validation-message {
        .m-multi-select__validation-message {
            margin-top: $m-spacing--xs;
        }
    }

    &:not(.m--is-disabled):not(.m--is-readonly) {
        .m-multi-select__icon {
            cursor: pointer;
        }
    }
}
