@import 'commons';
@import './../responsive-table-commons';

@mixin first-column-fixed() {
    &.m--is-first-column-fixed td {
        &:first-child {
            @include m-table--sticky-cell();
        }
    }
}

@mixin accordion-skin-light() {
    td {
        background: $m-color--grey-lighter;

        .m-table-body-header__accordion-border {
            background: $m-color--interactive;
        }

        .m-table-body-header__accordion-icon {
            color: $m-color--interactive;
        }
    }

    &.m--has-accordion {
        &.m--is-disabled {
            td:first-child .m-table-body-header__accordion-border {
                background: $m-color--disabled;
            }
        }

        &:not(.m--is-disabled) {

            &:hover td,
            &:focus td {
                background: $m-color--grey-lightest;
            }
        }
    }
}

@mixin accordion-skin-dark() {
    td {
        background: $m-color--grey-darker;
        color: $m-color--white;

        .m-table-body-header__accordion-border {
            background: $m-color--ul-yellow;
        }

        .m-table-body-header__accordion-icon {
            color: $m-color--ul-yellow;
        }
    }

    &.m--has-accordion {
        &.m--is-disabled {
            td:first-child .m-table-body-header__accordion-border {
                color: $m-color--grey;
            }
        }

        &:not(.m--is-disabled) {

            &:hover td,
            &:focus td {
                background: $m-color--grey-darkest;
            }
        }
    }
}

.m-table-body-header {
    border-collapse: collapse;
    border: none;
    transition: background-color $m-transition-duration linear;
    position: relative;
    border-top: 1px solid $m-color--white;
    outline: none;

    td {
        position: relative;
    }

    @include first-column-fixed();

    &__cell {
        position: relative;
        display: flex;
        align-items: center;
    }

    &.m--is-skin-light {
        @include accordion-skin-light();
    }

    &.m--is-skin-dark {
        @include accordion-skin-dark();
    }

    &.m--is-skin-light,
    &.m--is-skin-dark {
        .m-table-body-header__cell {
            padding: $m-spacing;
        }

        &.m--has-accordion {
            td {
                transition: background-color $m-transition-duration linear;

                &:first-child {
                    .m-table-body-header__accordion-border {
                        transition: background-color $m-transition-duration linear;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        width: 6px;
                    }
                }
            }

            &:not(.m--is-disabled) {
                cursor: pointer;
            }
        }
    }

    &__content-cell {
        flex: 1 1 auto;
    }

    &__accordion-icon {
        flex-shrink: 0;
    }
}

.m-table-body-header.m--is-disabled {
    color: $m-color--disabled;
}

.m-table-body-header.m--is-accordion-icon-position-left {
    .m-table-body-header__accordion-icon {
        margin-right: $m-spacing;
    }
}

@mixin accordion-icon-position-right() {
    .m-table-body-header__cell {
        flex-direction: row-reverse;
    }

    .m-table-body-header__accordion-icon {
        margin-left: $m-spacing;
    }
}

.m-table-body-header.m--is-accordion-icon-position-right {
    @include accordion-icon-position-right();
}
