$m-drag-and-drop-line-height: 3px !default;
$m-drag-and-drop-color: $m-color--success !default;
$m-drag-and-drop-dot-height: 9px !default;

@mixin m-drag-and-drop-line() {
    &:not(.m--cant-sort) {
        &.m--is-sortbefore,
        &.m--is-sortafter {
            &::after {
                content: '';
                position: absolute;
                left: 0;
                width: 100%;
                height: $m-drag-and-drop-line-height;
                background-color: $m-drag-and-drop-color;
                z-index: 100;
            }
        }

        &.m--is-sortbefore::after {
            top: -#{$m-drag-and-drop-line-height / 2};
        }

        &.m--is-sortafter::after {
            bottom: -#{$m-drag-and-drop-line-height / 2};
        }
    }
}

@mixin m-drag-and-drop-dot() {
    &:not(.m--cant-sort) {
        &.m--is-sortbefore,
        &.m--is-sortafter {
            &::before {
                content: '';
                position: absolute;
                background-color: $m-drag-and-drop-color;
                z-index: 100;
                left: -#{$m-drag-and-drop-dot-height / 2};
                width: $m-drag-and-drop-dot-height;
                height: $m-drag-and-drop-dot-height;
                border-radius: 50%;
            }
        }

        &.m--is-sortbefore::before {
            top: -#{$m-drag-and-drop-dot-height / 2};
        }

        &.m--is-sortafter::before {
            bottom: -#{$m-drag-and-drop-dot-height / 2};
        }
    }
}

@mixin m-drag-and-drop() {
    position: relative;

    @include m-drag-and-drop-line;
    @include m-drag-and-drop-dot;
}

.m--can-drop {
    @include m-drag-and-drop;
}
