@mixin m-link() {
    transition: color $m-transition-duration ease;
    position: relative;
    display: inline-flex;
    align-items: center;
    font-weight: $m-font-weight-semi-bold;
    color: $m-color-interactive;
    outline-color: $m-color-interactive;
}

@mixin m-link--focus() {
    color: $m-color-interactive-dark;
}

@mixin m-link--hover() {
    color: $m-color-interactive-light;
}

@mixin m-link--visited() {
    color: $m-color-interactive-darker;
}
