$m--fr-active-color: #222;
$m--fr-active-background: #d6d6d6;
$m-fr-icon-popup-size: 16px;
$m-fr-btn-popup-size: 38px;

.fr-btn i {
    font-style: normal;
}

.fr-dib.fr-dib {
    max-width: 100%;

    &.m--fr-image-block-left {
        margin: $m-spacing;
        margin-left: 0;
    }

    &.m--fr-image-block-center {
        margin: $m-spacing auto;
    }

    &.m--fr-image-float-left {
        float: left;
        margin: $m-spacing;
        margin-left: 0;
    }

    &.m--fr-image-float-right {
        float: right;
        margin: $m-spacing;
        margin-right: 0;
    }
}

.fr-popup {
    &.fr-command.fr-btn.m--fr-active {
        color: $m--fr-active-color;
        background: $m--fr-active-background;
    }

    & .fr-buttons .fr-btn {
        width: $m-fr-btn-popup-size;
        height: $m-fr-btn-popup-size;

        & svg {
            width: $m-fr-icon-popup-size;
        }
    }
}
