@import "../utils/link";

@mixin m-commons-rte-styles() {
    @include m-titles-styles();
    @include m-text-styles();

    .rte-h1 {
        @include m-h1-font-style;
        @include m-commons-title-styles;
    }

    .rte-h2 {
        @include m-h2-font-style;
        @include m-commons-title-styles;
    }

    .rte-h3 {
        @include m-h3-font-style;
        @include m-commons-title-styles;
    }

    .rte-h4 {
        @include m-h4-font-style;
        @include m-commons-title-styles;
    }

    .rte-h5 {
        @include m-h5-font-style;
        @include m-commons-title-styles;
    }

    .rte-h6 {
        @include m-h6-font-style;
        @include m-commons-title-styles;
    }

    ul,
    ol,
    table {
        margin-top: $m-margin;
        margin-bottom: 0;
    }

    ul {
        @include m-bullet-list();
    }

    ol {
        @include m-number-list();
    }

    table {
        @include m-table();
    }

    img {
        max-width: 100%;
        display: block;
        margin: auto;
        text-align: center;
        position: relative;

        &.fr-fil {
            float: left;
            margin-right: $m-spacing--s;
        }

        &.fr-fir {
            float: right;
            margin-left: $m-spacing--s;
        }
    }

    a {
        @extend .m-u--link;

        &:hover,
        &:focus {
            @extend %m-u--link-text--hover-focus;
        }
    }

    svg {
        width: 14px;
        height: 14px;
        margin: 12px;
    }
}
