.m-u--app-body i {
    font-style: normal;
}

img {
    max-width: 100%;

    &.m--is-not-aligned {
        max-width: 100%;
        display: block;
        margin: $m-spacing;
        margin-left: 0;
    }

    &.m--is-aligned {
        max-width: 100%;
        display: block;
    }

    &.m--is-aligned:not(.fr-fil):not(.fr-fir) {
        margin: $m-spacing auto;
    }

    &.fr-fil {
        float: left;
        margin-right: $m-spacing;
    }

    &.fr-fir {
        float: right;
        margin-left: $m-spacing;
    }

    &.m--fr-block-left {
        display: block;
        margin: $m-spacing;
        margin-left: 0;
    }

    &.m--fr-block-center {
        display: block;
        margin: $m-spacing auto;
    }

    &.m--fr-inline-left {
        float: left;
        margin: $m-spacing;
        margin-left: 0;
    }

    &.m--fr-inline-right {
        float: right;
        margin: $m-spacing;
        margin-right: 0;
    }
}
