@mixin font-face($font-family, $url, $font-weight: normal, $font-style: normal, $extensionOTF: false) {
    @font-face {
        font-family: '#{$font-family}';
        font-weight: $font-weight;
        font-style: $font-style;

        @if $extensionOTF {
            src: url('#{$m-font-path}#{$url}.otf.woff2') format('woff2'),
            url('#{$m-font-path}#{$url}.ttf.woff2') format('woff2'),
            url('#{$m-font-path}#{$url}.otf.woff') format('woff'),
            url('#{$m-font-path}#{$url}.ttf.woff') format('woff');
        }

        @else {
            src: url('#{$m-font-path}#{$url}.ttf.woff2') format('woff2'),
            url('#{$m-font-path}#{$url}.ttf.woff') format('woff');
        }
    }
}

@mixin m-font-size($font-size: 'base') {
    @if $font-size=='base' {
        font-size: 1rem;
    }

    @else {
        $base-font-size: map-get($m-font-size-map, 'base');
        $size: $font-size;

        @if type-of($font-size)=='string' {
            $size: map-get($m-font-size-map, $font-size);
        }

        font-size: calc(#{$size} / #{$base-font-size} * 1rem);
    }

}

@mixin m-commons-title-styles() {
    font-weight: var(--m-font-weight-heading);
    line-height: var(--m-line-height-heading);
}

@mixin m-h1-font-style() {
    @include m-font-size('h1');
}

@mixin m-h2-font-style() {
    @include m-font-size('h2');
}

@mixin m-h3-font-style() {
    @include m-font-size('h3');
}

@mixin m-h4-font-style() {
    @include m-font-size('h4');
}

@mixin m-h5-font-style() {
    @include m-font-size('h5');
}

@mixin m-h6-font-style() {
    @include m-font-size('h6');
}

@mixin m-titles-styles() {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .m-u--h1,
    .m-u--h2,
    .m-u--h3,
    .m-u--h4,
    .m-u--h5,
    .m-u--h6 {
        @include m-commons-title-styles();
    }

    h1,
    .m-u--h1 {
        margin: var(--m-margin-h1);

        @include m-h1-font-style();
    }

    h2,
    .m-u--h2 {
        margin: var(--m-margin-h2);

        @include m-h2-font-style();
    }

    h3,
    .m-u--h3 {
        margin: var(--m-margin-h3);

        @include m-h3-font-style();
    }

    h4,
    .m-u--h4 {
        margin: var(--m-margin-h4);

        @include m-h4-font-style();
    }

    h5,
    .m-u--h5 {
        margin: var(--m-margin-h5);

        @include m-h5-font-style();
    }

    h6,
    .m-u--h6 {
        margin: var(--m-margin-h6);

        @include m-h6-font-style();
    }
}

@mixin m-text-styles() {

    p,
    .m-u--p {
        margin: var(--m-margin-paragraph);
    }

    b,
    strong {
        font-weight: $m-font-weight-semi-bold;
    }

    i,
    em {
        font-style: italic;
    }

    small {
        font-size: $m-font-size-sm;
    }

    pre,
    code {
        word-break: break-all;
        word-wrap: break-word;
        font-size: $m-font-size-sm;
        font-weight: $m-font-weight-light;
        color: $m-color-text;
    }
}

@mixin m-word-wrap() {
    overflow-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
}
