@mixin font-face($font-family, $url, $font-weight: normal, $font-style: normal, $extensionOTF: false) {
    @font-face {
        font-family: '#{$font-family}';
        font-weight: $font-weight;
        font-style: $font-style;

        @if $extensionOTF {
            src:
                url('#{$m-font-path}#{$url}.otf.woff2') format('woff2'),
                url('#{$m-font-path}#{$url}.ttf.woff2') format('woff2'),
                url('#{$m-font-path}#{$url}.otf.woff') format('woff'),
                url('#{$m-font-path}#{$url}.ttf.woff') format('woff');
        }

        @else {
            src:
                url('#{$m-font-path}#{$url}.ttf.woff2') format('woff2'),
                url('#{$m-font-path}#{$url}.ttf.woff') format('woff');
        }
    }
}

@mixin m-commons-title-styles() {
    font-weight: var(--m-base-headings--font-weight);
    line-height: var(--m-base-headings--line-height);
}

@mixin m-h1-font-style() {
    font-size: var(--m-base-h1--font-size);
}

@mixin m-h2-font-style() {
    font-size: var(--m-base-h2--font-size);
}

@mixin m-h3-font-style() {
    font-size: var(--m-base-h3--font-size);
}

@mixin m-h4-font-style() {
    font-size: var(--m-base-h4--font-size);
}

@mixin m-h5-font-style() {
    font-size: var(--m-base-h5--font-size);
}

@mixin m-h6-font-style() {
    font-size: var(--m-base-h6--font-size);
}

@mixin m-titles-styles() {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .m-u--h1,
    .m-u--h2,
    .m-u--h3,
    .m-u--h4,
    .m-u--h5,
    .m-u--h6 {
        @include m-commons-title-styles();
    }

    h1,
    .m-u--h1 {
        margin: var(--m-base-h1--margin);

        @include m-h1-font-style();
    }

    h2,
    .m-u--h2 {
        margin: var(--m-base-h2--margin);

        @include m-h2-font-style();
    }

    h3,
    .m-u--h3 {
        margin: var(--m-base-h3--margin);

        @include m-h3-font-style();
    }

    h4,
    .m-u--h4 {
        margin: var(--m-base-h4--margin);

        @include m-h4-font-style();
    }

    h5,
    .m-u--h5 {
        margin: var(--m-base-h5--margin);

        @include m-h5-font-style();
    }

    h6,
    .m-u--h6 {
        margin: var(--m-base-h6--margin);

        @include m-h6-font-style();
    }
}

@mixin m-text-styles() {
    p,
    .m-u--p {
        margin: var(--m-base-p--margin);
    }

    b,
    strong {
        font-weight: $m-font-weight--semi-bold;
    }

    i,
    em {
        font-style: italic;
    }

    small {
        font-size: $m-font-size--s;
    }

    pre,
    code {
        word-break: break-all;
        word-wrap: break-word;
        font-size: $m-font-size--s;
        font-weight: $m-font-weight--light;
        color: $m-color--text;
    }
}

@mixin m-word-wrap() {
    overflow-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
}
