@import 'commons';

.m-error-technical-difficulty {
    text-align: left;

    &__stacktrace {
        margin: $m-space 0 0;
        min-height: 60px;
        max-height: 200px;
        resize: vertical;
        overflow: auto;
        padding: $m-space;
        border-radius: $m-border-radius-sm;
        background-color: $m-color-grey-lightest;

        @include m-scrollbar();
    }

    &__browser {
        margin-top: 0;
    }
}
