.modul-do,
.modul-dont {
    padding: 0 0 0 $m-space;
    border-left: $m-border-width-lg solid;
    margin-top: $m-space-md;

    ul {
        padding-left: $m-space;

        li {
            &::before {
                margin-top: -4px;
                border-radius: 0;
                background: none;
            }
        }
    }

    &__header {
        margin: 0;
        text-transform: uppercase !important;

        @include m-font-size('xs');
    }

    &__body {
        margin-top: $m-space-xs;

        > :first-child {
            &,
            > :first-child {
                margin-top: 0;
            }
        }
    }
}
