<div class="m-sortable-sandbox">

    <h4>Sortable - can-drag attribute</h4>
    <ul v-m-sortable="true"
        :items="elementsSortableCanDrag"
        @sortable:move="deplacerElementsCanDrag">

        <li v-for="(element, index) in elementsSortableCanDrag"
            :key="element.cle"
            :can-drag="isDraggable(element.cle)">
            <div class="m-sortable-sandbox__item">
                {{ element.titre }}
            </div>
        </li>
    </ul>

    <h4>Sortable - can-drop attribute</h4>
    <ul v-m-sortable="true"
        :items="elementsSortableCanDrop"
        @sortable:move="deplacerElementsCanDrop">

        <li v-for="(element, index) in elementsSortableCanDrop"
            :key="element.cle"
            :can-drop="isDroppable(element.cle)">
            <div class="m-sortable-sandbox__item">
                {{ element.titre }}
            </div>
        </li>
    </ul>

    <h4>Sortable - with handle</h4>
    <ul v-m-sortable="true"
        :items="elementsSortableWithHandle"
        @sortable:move="deplacerElementsWithHandle">

        <li v-for="(element, index) in elementsSortableWithHandle"
            :key="element.cle"
            :can-drag="isDraggable(element.cle)">
            <div class="m-sortable-sandbox__item">
                <div class="m-drag-handle">
                    <m-icon name="m-svg__drag-vertical"
                            size="28px"></m-icon>
                </div>
                {{ element.titre }}
            </div>
        </li>
    </ul>

    <h4>Sortable - with switch</h4>
    <m-switch :value="peutEtreDrag"
              @change="basculePeutEtreDrag($event)">Enable/disable sort</m-switch>
    <ul v-m-sortable="peutEtreDrag"
        :items="elementsSortable"
        @sortable:move="deplacerElements">

        <li v-for="(element, index) in elementsSortable"
            :key="element.cle">
            <div class="m-sortable-sandbox__item">
                <div class="m-drag-handle">
                    <m-icon name="m-svg__drag-vertical"
                            size="28px"></m-icon>
                </div>
                {{ element.titre }}
            </div>
        </li>
    </ul>
</div>
