@import 'commons';

.m-sortable-sandbox {
    ul {
        display: flex;
        flex-direction: column;
    }

    .m-drag-handle {
        margin-right: $m-space-sm;
    }

    &__item {
        padding: $m-space;
        display: flex;
        align-items: center;
        border-bottom: 2px solid $m-color-grey-light;
    }
}
