@import '../../styles/commons';

.mw-card {
    background-color: $modul-color--black-grey-dark;
    padding: $m-space-xl;
    text-align: center;

    &__link,
    &__header {
        text-transform: uppercase;
    }

    &__content {
        margin-top: $m-space-lg;
    }

    &__link {
        margin-top: $m-space-lg;
        display: grid;
        grid-gap: $m-space-xs;
        justify-items: center;
    }
}
