@import '../../styles/commons';
@import '../../styles/components/do-dont';

.modul-dont {
    border-color: $m-color-error;

    &__header {
        color: $m-color-error !important;
    }

    ul {
        li {
            position: relative;

            &::before {
                position: absolute;
                top: 9px; //Magic number
                left: calc(-1 * #{ $m-space });

                @include m-triangle(right, $m-color-error, 10px);
            }

            + li {
                margin-top: $m-space-sm;
            }
        }
    }
}
