@import '../chip-commons';

.m-chip-delete {
    @include m-chip-base-style();

    display: inline-block;
    border: 1px solid $m-color--grey;
    background: $m-color--grey-lighter;

    &__body {
        @include m-chip-body-style();
    }

    &__button {
        $m-chip-delete--button-width: 12px;

        transition: color $m-transition-duration ease;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: $m-chip-delete--button-width;
        height: $m-chip-delete--button-width;
        padding: 0;
        margin: 0 $m-spacing--xs;
        outline: none;
        appearance: none;
        border: none;
        font-size: 1em;
        font-family: $m-font-family;
        color: $m-color--interactive;
        background: none;
    }

    &__icon {
        $m-chip-delete--icon-width: 32px;

        transition: color $m-transition-duration ease;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 10px 0 10px 10px; // Magic number: perfect icon size
        width: $m-chip-delete--icon-width;
        height: $m-chip-delete--icon-width;
        stroke-width: 3;
    }

    &__hidden-text {
        @include m-visually-hidden();
    }

    &:not(.m--is-disabled) {
        .m-chip-delete__icon.m-chip-delete__icon {
            color: $m-color--text;
        }

        &.m--is-hover,
        &.m--is-focus.m--is-focus {
            color: $m-color--white;
            background: $m-color--interactive-light;
            border-color: $m-color--interactive-light;

            .m-chip-delete__icon.m-chip-delete__icon {
                color: $m-color--white;
            }
        }
    }

    &.m--is-disabled {
        border: 1px solid $m-color--disabled;
        background: $m-color--grey-lightest;
        cursor: default;

        &,
        .m-chip-delete__button {
            color: $m-color--disabled;
        }

        .m-chip-delete__icon.m-chip-delete__icon.m-chip-delete__icon {
            color: $m-color--disabled-light;
        }
    }
}

.m-chip-delete.m--is-small {
    @include m-chip-small-style();

    border-color: $m-color--grey-light;
    background: $m-color--grey-lighter;
    font-size: 0.75em;
    font-weight: $m-font-weight--semi-bold;

    .m-chip-delete {
        &__button {
            $m-chip-delete--button-width: 20px;

            width: $m-chip-delete--button-width;
            height: $m-chip-delete--button-width;
            margin: 0;
        }

        &__icon {
            $m-chip-delete--icon-width: 20px;

            width: $m-chip-delete--icon-width;
            height: $m-chip-delete--icon-width;
            left: 0;
            top: 0;
            padding: 5px; // Magic number: perfect icon size
            transform: none;
        }
    }
}
