<article class="mw-logo"
         :class="'mw-is--' + size">


    <span class="mw-logo__title">MODUL</span>

    <table class="mw-logo__logo">
        <tr>
            <td class="mw-logo__item"></td>
            <td class="mw-logo__item mw--is-yellow"></td>
            <td class="mw-logo__item mw--is-red">
                <span></span>
            </td>
        </tr>
        <tr>
            <td class="mw-logo__item"></td>
            <td class="mw-logo__item mw--is-yellow"></td>
            <td class="mw-logo__item mw--is-yellow"></td>
        </tr>
        <tr>
            <td class="mw-logo__item"></td>
            <td class="mw-logo__item"></td>
            <td class="mw-logo__item mw--is-yellow"></td>
        </tr>
    </table>


    <p v-if="tagline"
       class="mw-logo__tagline">Une expérience unifiée</p>


</article>
