.mu-typo-precision {

    &,
    &-italic {
        @include m-font-size('sm');
        color: $m-color-text-light;
    }

    &-italic {
        font-style: italic;
    }
}

.mu-typo-highlighting {
    display: inline;
    @include m-font-size('sm');
    font-weight: $m-font-weight-semi-bold;
    background: $m-color-warning-lightest;
    box-shadow: 0 0 0 2px $m-color-warning-lightest;
}
