@import 'commons';

.m-navbar {
    &__wrap {
        position: relative;
        margin: 0 auto;
    }

    &.m--is-skin-nav-main {
        background: $m-color--grey-darkest;
    }

    &.m--is-skin-nav-sub {
        background: $m-color--grey-black;
    }

    &.m--is-skin-tab-underline {
        .m-navbar__wrap {
            &::before {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                height: $m-border-width--l;
                width: 100%;
                content: '';
                background: $m-color--border;
            }
        }
    }

    &.m--is-skin-tab-arrow {
        .m-navbar__wrap {
            &::before {
                position: absolute;
                right: 0;
                bottom: $m-margin--s;
                left: 0;
                content: '';
                width: 100%;
                height: $m-border-width;
                background: $m-color--border;
            }
        }
    }

    &.m--is-skin-tab-dark,
    &.m--is-skin-tab-dark-main {
        .m-navbar__list {
            background: $m-color--grey-dark;
        }
    }

    &.m--is-skin-nav-soft {
        background: rgba($m-color--white, 0.2);
    }

    &.m--is-anim-ready {
        .m-navbar {
            &__line,
            &__arrow {
                transition: transform $m-transition-duration ease, width $m-transition-duration ease;
            }
        }
    }

    &__list {
        position: relative;
        list-style: none;
        padding: 0;
        margin: 0;
        display: inline-flex;
        text-align: center;
    }

    &__line,
    &__arrow {
        position: absolute;
    }

    &__line {
        bottom: 0;
        background: $m-color--active;
        height: $m-border-width--l;
    }

    &__arrow {
        bottom: $m-margin--s;

        &::before,
        &::after {
            transform: translateX(-50%);
            position: absolute;
            left: 50%;

            @include m-triangle(bottom, currentcolor, 18px);
        }

        &::before {
            color: $m-color--border;
            top: -1px;
        }

        &::after {
            color: $m-color--white;
            top: -3px;
        }
    }
}
