@import "commons";

.m-base-select {
    display: inline-flex;
    flex-direction: column;

    &__list {
        margin: 0;
        padding: 0;
        max-height: 80%;
        overflow-x: hidden;
        overflow-y: hidden;

        @media (min-width: $m-mq--min--s) {
            max-height: 208px;
            overflow-x: hidden;
            overflow-y: hidden;
        }
    }

    &__list:not(.m--is-virutalScroll) {
        @include m-scrollbar();

        @media (min-width: $m-mq--min--s) {
            overflow-x: hidden;
            overflow-y: auto;
        }
    }

    &__list.m--is-virutalScroll {
        >div {
            @include m-scrollbar();
        }
    }

    &__popup {
        display: inline-block;
        width: 100%;
    }
}
