@import 'commons';

.m-textfield-stories {
    --m-input-style--color-label-up: #{ $m-color--grey-dark };
    --m-input-style--color-border-up: #{ $m-color--grey-dark };
    --m-input-style--font-weight: 425;
}
