<div class="mw-mega-menu">
    <mw-panel :open="isOpen">
        <div class=" mw-mega-menu__body"
             v-if="isMqMinS">
            <nav class="mw-mega-menu__list"
                 v-for="category in categoriesComponent"
                 :key="category.id"
                 v-if="type == 'components'">
                <h2 class=" mw-mega-menu__title modul-u--h2 mw-u--highlighted-title-link">
                    <a tabindex="-1"> <span>{{category.text}}</span> </a>
                </h2>
                <ul>
                    <li v-for="component in getCategoryComponents(category.id)"
                        @click.prevent="close()">
                        <router-link :to="getRouterIndex(component.url)"
                                     tag="a"
                                     class="mw-mega-menu__link">
                            <span class="mw-mega-menu__wrapper">
                                <m-i18n :k="component.name"
                                        class="mw-mega-menu__label"></m-i18n>&nbsp;<span v-if="component.beta"
                                      class="mw-mega-menu__beta-tag">
                                    <m-i18n k="website:beta"></m-i18n>
                                </span>
                            </span>
                            <!-- <span class=" mw-mega-menu__tag">{{ component.tag }}</span> -->
                        </router-link>
                    </li>
                </ul>
            </nav>
            <nav class=" mw-mega-menu__list"
                 v-for="page in pagesStandards"
                 :key="page.id"
                 v-if="type != 'components'">
                <h1 class=" mw-mega-menu__title modul-u--h1 mw-u--highlighted-title-link">
                    <router-link :to="{ name : page.id }"
                                 tabindex="0"><span>{{ page.text }}</span></router-link>
                </h1>
            </nav>
        </div>
        <template v-else>
            <transition name="mw--is">
                <nav class="mw-mobile-menu mw--is-level-1"
                     v-if="menuLevelOne">
                    <ul>
                        <li class="mw-mobile-menu__elem">
                            <router-link :to="routerPhilosophy"
                                         class="mw-mobile-menu__link">
                                <m-i18n k="website:philosophy"></m-i18n>
                                <m-icon name="m-svg__chevron--right"></m-icon>
                            </router-link>
                        </li>
                        <li class="mw-mobile-menu__elem">
                            <a href
                               @click.prevent="showMenuLevelTwo('components')"
                               class="mw-mobile-menu__link">
                                <m-i18n k="modul:components"></m-i18n>
                                <m-icon name="m-svg__chevron--right"></m-icon>
                            </a>
                        </li>
                        <li class="mw-mobile-menu__elem">
                            <a href
                               @click.prevent="showMenuLevelTwo('standards')"
                               class="mw-mobile-menu__link">
                                <m-i18n k="modul:standards"></m-i18n>
                                <m-icon name="m-svg__chevron--right"></m-icon>
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="mw-mobile-menu mw--is-level-2"
                     v-if="!menuLevelOne">
                    <header class="mw-mobile-menu__header">
                        <m-link mode="button"
                                :underline="false"
                                icon-name="m-svg__chevron--left"
                                @click="showMenuLevelOne">Retour</m-link>
                    </header>
                    <div class="mw-mobile-menu__body">
                        <m-accordion class="mw-mobile-menu__elem"
                                     skin="plain"
                                     v-for="category in categoriesComponent"
                                     :key="category.id"
                                     v-if="menuSection == 'components'">
                            <h2 class="mw-mobile-menu__title"
                                slot="header">
                                <!-- <router-link :to="getRouterIndex(category.id)"> --> <span>{{category.text}}</span><!-- </router-link>-->
                            </h2>
                            <ul>
                                <li v-for="component in getCategoryComponents(category.id)"
                                    :key="component.url"
                                    click="closeMenu()"
                                    @keyup.enter="closeMenu()">
                                    <router-link :to="getRouterIndex(component.url)"
                                                 class="mw-mobile-menu__link">
                                        <span class=" mw-mobile-menu__wrapper">
                                            <m-i18n :k="component.name"
                                                    class=" mw-mega-menu__label"></m-i18n>&nbsp;<span v-if="component.beta"
                                                  class="modul-logo__beta  mw-mega-menu__beta-tag">{{ beta }}</span>
                                        </span>
                                        <!-- <span class=" mw-mega-menu__tag">{{ component.tag }}</span> -->
                                    </router-link>
                                </li>
                            </ul>
                        </m-accordion>
                        <nav v-if="menuSection != 'components'">
                            <ul>
                                <li v-for="page in pagesStandards"
                                    class="mw-mobile-menu__elem">
                                    <router-link class="mw-mobile-menu__link"
                                                 :to="{name : page.id}">
                                        <m-i18n :k="page.text"></m-i18n>
                                    </router-link>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </transition>
        </template>
    </mw-panel>
</div>
