@import '../../styles/commons';

$modul-menu--list-max-width: 300px;
$modul-menu-offset-left: $m-padding--s + 2;
$modul-menu-beta-width: 24px;
$modul-menu-transition-duration: 0.7s;

.mw-mega-menu {
    position: relative;
    z-index: 3;

    &__body {
        column-count: 3;
        column-gap: 0;
    }

    h2 {
        margin: 0;
    }

    &__list {
        list-style: none;
        break-inside: avoid;
        page-break-inside: avoid;
        padding: 0 $m-padding $m-padding--xl $m-padding;

        &:last-child {
            margin-right: 0;
        }

        ul {
            margin: $m-margin 0 0 0;
        }
    }

    &__link {
        transition: background-color $modul-menu-transition-duration ease, border-color $modul-menu-transition-duration ease, left $modul-menu-transition-duration ease;
        position: relative;
        display: block;
        border-left: 2px solid transparent;
        padding: $m-padding--s $m-padding;
        background-color: transparent;
        color: #09f;
        text-decoration: none;
        outline: none;

        @media (min-width: #{$m-mq--min--s}) {
            left: -$modul-menu-offset-left;
            padding: $m-padding--s $modul-menu-offset-left $m-padding--s;
        }

        &::after {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: linear-gradient(to right, rgba($modul-color--black-grey, 0) 0%, rgba($modul-color--black-grey, 100%) 100%);
            z-index: 1;
        }

        &:hover,
        &:focus {
            left: 0;
            border-left-color: $m-color--white;
            background-color: $modul-color--black-grey-dark;

            .modul-menu__label {
                color: $m-color--white;
            }

            .modul-menu__tag {
                color: $modul-color--grey-dark;
            }

            .modul-menu__beta-tag {
                background: $m-color--ul-yellow;
            }
        }
    }

    &__wrapper {
        display: block;
        position: relative;
        z-index: 2;
    }

    &__label {
        transition: color $modul-menu-transition-duration ease;
        position: relative;
        z-index: 2;
    }

    &__tag {
        font-style: italic;
        font-size: $m-font-size--s;
        color: $modul-color--grey-darker;
        transition: color $modul-menu-transition-duration ease;
        position: relative;
        z-index: 2;
        display: block;
    }

    &__beta-tag {
        display: inline;
        background: $modul-color--grey-darker;
        transition: background $modul-menu-transition-duration ease;
        vertical-align: middle;
    }
}

.mw-mobile-menu {
    display: flex;
    flex-direction: column;
    height: 100%;

    &.mw--is {
        &-enter-active,
        &-leave-active {
            transition: transform $m-transition-duration--l ease;
            position: absolute;
            width: 100%;
        }

        &-enter,
        &-leave-active {
            &.mw--is-level-1 {
                transform: translate3d(-100%, 0%, 0);
            }

            &.mw--is-level-2 {
                transform: translate3d(100%, 0%, 0);
            }
        }
    }

    h2 {
        margin: 0;
    }

    ul {
        margin: 0;
    }

    &__header {
        padding: $m-padding;
    }

    &__body {
        flex: 1 1 auto;
        overflow: auto;
        background: $modul-color--black-grey-dark;
    }

    &__link,
    &__title {
        font-size: 18px;
        font-weight: $m-font-weight--black;
        color: $m-color--white;
        text-transform: uppercase;
        text-decoration: none;
        line-height: 1.3;
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: m-spacing();
    }

    &__elem {
        &:not(:last-child) {
            border-bottom: 1px solid $modul-color--black-grey-light;
        }
    }
}
