@import '../../styles/commons';

$modul-menu--list-max-width: 300px;
$modul-menu-offset-left: calc(var(m-space-xs) + 2);
$modul-menu-beta-width: 24px;
$modul-menu-transition-duration: 0.7s;

.mw-mega-menu {
    position: relative;
    z-index: 3;

    &__body {
        column-count: 3;
        column-gap: 0;
    }

    h2 {
        margin: 0;
    }

    &__list {
        list-style: none;
        break-inside: avoid;
        page-break-inside: avoid;
        padding: 0 $m-space $m-space-xxxxl $m-space;

        &:last-child {
            margin-right: 0;
        }

        ul {
            margin: $m-space-sm 0 0 0;
        }
    }

    &__link {
        transition: background-color $modul-menu-transition-duration ease, border-color $modul-menu-transition-duration ease, left $modul-menu-transition-duration ease;
        position: relative;
        display: block;
        border-left: 2px solid transparent;
        padding: $m-space-xs $m-space;
        background-color: transparent;
        color: $m-color-white;
        text-decoration: none;
        outline: none;

        @media (min-width: #{$m-mq-min-sm}) {
            left: calc(-1 * #{$modul-menu-offset-left});
            padding: $m-space-xs $modul-menu-offset-left $m-space-xs;
        }

        &::after {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, $modul-color--black-grey 100%);
            z-index: 1;
        }

        &:hover,
        &:focus {
            left: 0;
            border-left-color: $m-color-white;
            background-color: $modul-color--black-grey-dark;

            .mw-mega-menu__label {
                color: $m-color-white;
            }

            .mw-mega-menu__tag {
                color: $modul-color--grey-dark;
            }

            .mw-mega-menu__beta-tag {
                background: $m-color-ul-yellow;
            }

            .mw-mega-menu__new-tag {
                background: $m-color-hint;
            }
        }
    }

    &__wrapper {
        display: block;
        position: relative;
        z-index: 2;
    }

    &__label {
        transition: color $modul-menu-transition-duration ease;
        position: relative;
        z-index: 2;
    }

    &__tag {
        font-style: italic;
        color: $modul-color--grey-darker;
        transition: color $modul-menu-transition-duration ease;
        position: relative;
        z-index: 2;
        display: block;

        @include m-font-size('sm');
    }

    &__beta-tag,
    &__new-tag {
        display: inline;
        background: $modul-color--grey-darker;
        transition: background $modul-menu-transition-duration ease;
        vertical-align: middle;
    }
}

.mw-mobile-menu {
    display: flex;
    flex-direction: column;
    height: 100%;

    &.mw--is {

        &-enter-active,
        &-leave-active {
            transition: transform $m-transition-duration-lg ease;
            position: absolute;
            width: 100%;
        }

        &-enter,
        &-leave-active {
            &.mw--is-level-1 {
                transform: translate3d(-100%, 0%, 0);
            }

            &.mw--is-level-2 {
                transform: translate3d(100%, 0%, 0);
            }
        }
    }

    h2 {
        margin: 0;
    }

    ul {
        margin: 0;
        list-style: none;
    }

    &__header {
        padding: $m-space;
    }

    &__body {
        flex: 1 1 auto;
        overflow: auto;
        background: $modul-color--black-grey-dark;
    }

    &__title,
    &__accordion-title,
    &__link {
        color: $m-color-white;
        text-decoration: none;
        line-height: 1.3;

        @include m-font-size('md');
    }

    &__title,
    &__accordion-title {
        text-transform: uppercase;
        font-weight: $m-font-weight-black;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__title {
        padding: $m-space;
    }

    &__link {
        display: block;
        width: 100%;
        padding: $m-space $m-space-xs $m-space 50px;
        background: $modul-color--black-grey;
    }

    .mw-mega-menu__beta-tag {
        background: $modul-color--yellow;
    }

    .mw-mega-menu__new-tag {
        background: $m-color-hint;
    }

    &__elem {
        &:not(:last-child) {
            border-bottom: 1px solid $modul-color--black-grey-light;
        }

        &.mw--is-accordion {
            /deep/ .m-accordion__header {
                padding: $m-space;
            }
        }
    }
}
