<div class="mw-components">
    <m-expandable-layout class="mw-components__body"
                         :open="showMenu"
                         panel-width="360px">
        <div class="mw-components__button">
            <m-icon-button @click="toggleMenu()"
                           v-if="!showMenu"
                           icon-name="m-standard-edit"
                           skin="light"
                           icon-size="20px"
                           button-size="20px">
            </m-icon-button>
            <m-icon-button @click="toggleMenu()"
                           v-else
                           icon-name="m-svg__close-clear"
                           icon-size="20px"
                           button-size="20px">
            </m-icon-button>
        </div>
        <div class="mw-components__content">
            <mw-component-details :component="component"></mw-component-details>
        </div>
        <template slot="panel">
            <div class="mw-components__sidemenu">

                <div class="mw-components__search">
                    <m-searchfield></m-searchfield>
                </div>
                <div class="mw-components__sidemenu-title">
                    <m-i18n k="website:components-ui"></m-i18n>
                </div>
                <m-accordion skin="plain"
                             icon-position="right"
                             icon-size="small"
                             v-for="categoryId in componentCategoryIds"
                             :key="categoryId"
                             :open="urlMatchPath(categoryId)">
                    <div class="mw-components__sidemenu-sub-title"
                         slot="header">
                        <m-i18n :k="'categories:'+categoryId"></m-i18n>
                    </div>
                    <div>
                        <div class="mw-components__sidemenu-item"
                             v-for="component in getCategoryComponents(categoryId)"
                             :key="component.url">
                            <router-link :to="getRouterIndex(component.url)"
                                         @click.native="onSideMenuSelection()"><span>
                                    {{component.name}}
                                </span>
                                <span v-if="component.beta">
                                    <m-i18n k="website:beta"></m-i18n>
                                </span>
                            </router-link>
                        </div>
                    </div>
                </m-accordion>
            </div>
        </template>
    </m-expandable-layout>
</div>
