@import 'commons';

.m-inplace-edit {
    padding: 0;
    background: $m-color-white;
    transition: padding $m-transition-duration ease, background $m-transition-duration--s linear;

    &.m--is-edit-mode {
        padding: $m-space;
        background: $m-color-information;
    }

    &.m--has-erreur {
        background: $m-color-error-lightest;
    }

    &__buttons {
        margin-top: $m-space-md;

        > :first-child {
            margin-right: 6px;
        }
    }
}

.m-edit-inplace__title {
    margin: 0;
    @include m-font-size('h4');
    font-weight: $m-font-weight-semi-bold;
}
