@import '../../../styles/commons';

.modul-component-properties {
    display: block;

    &__default-value {
        font-style: italic;
        color: $modul-color--grey-darker;
        margin-top: 3px;

        @include m-font-size('sm');
    }
}
