<div class="modul-component-properties">
    <m-table :columns="columns"
             :rows="properties"
             width="100%">

        <template slot="empty">
            <td class="m-table-sandbox__empty__cell"
                :colspan="columns.length">
                <m-i18n k="modul:no-properties"></m-i18n>
            </td>
        </template>
        <template v-slot:row="{data}">

            <td> <strong>{{ data.name }}</strong>:{{ data.type }}
                <p v-if="data.inheritFrom"
                   class="modul-component-properties__default-value">({{data.inheritFrom}})</p>
            </td>

            <td style="text-align: center;">
                <span v-html="data.values"></span>
                <span v-if="data.defaultValue"
                      class="modul-component-properties__default-value"><br />
                    <m-i18n k="modul:defaut"></m-i18n> : {{data.defaultValue}}
                </span>
            </td>
            <td style="text-align: center;">
                <m-i18n v-if="data.description"
                        v-html="data.description"></m-i18n>
            </td>
        </template>
    </m-table>
</div>
