.mu-font {
    &-size {
        @include m-font-size();

        &-lg {
            @include m-font-size('lg');
        }

        &-md {
            @include m-font-size('md');
        }

        &-sm {
            @include m-font-size('sm');
        }

        &-xs {
            @include m-font-size('xs');
        }
    }

    &-style {
        &-normal {
            font-style: normal;
        }

        &-italic {
            font-style: italic;
        }
    }

    &-weight {
        &-black {
            font-weight: $m-font-weight-black;
        }

        &-bold {
            font-weight: $m-font-weight-bold;
        }

        &-semi-bold {
            font-weight: $m-font-weight-semi-bold;
        }

        &-regular {
            font-weight: $m-font-weight-regular;
        }

        &-light {
            font-weight: $m-font-weight-light;
        }
    }
}

.mu-typo {
    &-precision {

        &,
        &-italic {
            @include m-font-size('sm');
            color: $m-color-text-light;
        }

        &-italic {
            font-style: italic;
        }
    }

    &-highlighting {
        display: inline;
        @include m-font-size('sm');
        font-weight: $m-font-weight-semi-bold;
        background: $m-color-warning-lightest;
        box-shadow: 0 0 0 2px $m-color-warning-lightest;
    }
}
