.mu-app-root {
    // List
    .mu-bullet-list {
        @include m-bullet-list();
    }

    // Table
    .mu-table {
        @include m-table();
    }

     // Formulaire
     .mu-label {
        @include m-font-size();

        font-weight: $m-font-weight-semi-bold;
    }

    // Asterisk
    .mu-asterisk {
        color: $m-color-accent;
        font-weight: $m-font-weight-bold;
    }

    .mu-require {
        margin-top: - $m-space !important;
        float: right;
    }

    @import 'button', 'link', 'header', 'typography', 'layout';


    // Visually hidden
    .mu-visually-hidden {
        @include m-visually-hidden();
    }
}
