@import '../../styles/commons';
$modul-color--bp: 590px;

.modul-color {
    width: 100%;
    margin-top: $m-space;
    border-color: $m-color-success;

    @media (min-width: $modul-color--bp) {
        display: flex;
    }

    + .modul-color {
        @media (min-width: $modul-color--bp) {
            margin-top: 3px;
        }
    }

    &__header,
    &__body {
        display: flex;
        align-items: center;
    }

    &__header {
        width: 100%;
        justify-content: center;
        padding: $m-space-lg 0;

        @include m-font-size('sm');

        @media (min-width: $modul-color--bp) {
            width: 33.33%;
            min-width: 220px;
            padding: $m-space-lg 4px;
        }
    }

    &__body {
        flex: 1 1 auto;
        justify-content: space-between;
        background: $m-color-grey-lighter;
        padding: $m-space-xs $m-space;

        @media (min-width: $modul-color--bp) {
            padding: $m-space-lg;
            background: $m-color-grey-lightest;
        }

        strong {
            display: block;
        }
    }

    &__name {
        margin: 0;
        text-align: center;
    }

    &__hex,
    &__rgb,
    &__cmyk {
        margin: 0;
        width: 33.33%;
    }
}
