@import "commons";

.m-image-selector {
    position: relative;
    width: 100%;
    padding: $m-space-md 0;
    background-color: $m-color-grey-lighter;

    .m-avatar {
        margin-left: auto;
        margin-right: auto;
    }

    &__avatar {
        width: 100%;
    }

    &__delete {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;

        &.m-icon-button {
            border-radius: 0;
            color: $m-color-white;
            background-color: rgba(#3d3d3d, 0.6);
        }
    }
}
