@import "commons";

.m-image-selector {
    position: relative;
    width: 100%;
    padding: $m-spacing--m 0;
    background-color: $m-color--grey-lighter;

    .m-avatar {
        margin-left: auto;
        margin-right: auto;
    }

    &__avatar {
        width: 100%;
    }
}
