@import 'commons';

.m-responsive-table {
    &__table {
        position: relative;
        border-collapse: collapse;
        border: none;
        width: 100%;
    }

    &__waiting {
        position: relative;

        &,
        td {
            padding: 0;
            margin: 0;
        }

        td {
            position: absolute;
            z-index: 3;
            left: 0;
            right: 0;
            background: $m-color-grey-light;
        }
    }

    &__spacing-top-rows-group-area {
        position: relative;
    }

    &__spacing-top-rows-group {
        position: absolute;
    }
}
