html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow-y: hidden;
    min-width: var(--m-min-width);
}

ul,
ol,
li {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

abbr {
    text-decoration: none;
    box-shadow: 0 1px --m-color--grey-dark;
}

a {
    color: var(--m-color--interactive);
}

input,
textarea,
button {
    font-family: inherit;
    @include m-font-size(var(--m-font-size));
    line-height: inherit;
}

@include m-headings-styles();

@include m-text-styles();