@mixin m-a11y-theme() {
    --m-color-grey-black: #000;
    --m-color-grey-darkest: #1f1f1f;
    --m-color-grey-darker: #2e2e2e;
    --m-color-grey-dark: #3d3d3d;

    --m-color-text: var(#000);
    --m-color-text-light: #000;

    --m-color-success-dark: #006034;
    --m-color-success: #00844E;

    --m-color-warning: #936E03;

    --m-color-error-dark: #AA0515;
    --m-color-error: #DD2A00;

    --m-color-hint: #00844E;

    --m-color-interactive-darker: #004656;
    --m-color-interactive-dark: #00566d;
    --m-color-interactive: #006884;
    --m-color-interactive-light: #0079bc;

    --m-color-accent-dark: #753B0B;
    --m-color-accent: #914B0C;
    --m-color-accent-light: #B2620B;

    --m-color-disabled-dark: #696969;
    --m-color-disabled: #929292;
    --m-color-disabled-light: #d7d7d7;

    --m-color-scrollbar: #1f1f1f;
    --m-color-scrollbar-light: #d7d7d7;

    --m-color-border-dark: #3d3d3d;
    --m-color-border: #696969;
    --m-color-border-light: #929292;

    --m-border-width-xxl:10px;
    --m-border-width-xl: 8px;
    --m-border-width-lg: 6px;
    --m-border-width-md: 4px;
    --m-border-width: 2px;
    --m-border-width-sm: 2px;

    --m-font-weight-black: 700;
    --m-font-weight-bold: 650;
    --m-font-weight-semi-bold: 575;
    --m-font-weight-regular: 500;
    --m-font-weight: 500;
    --m-font-weight-light: 425;

    --m-scrollbar-width: 12px;
}
