@import 'commons';

.m-moneyfield {
    display: inline-flex;

    @include m-input-inline-spacing();

    &__currency-symbol {
        color: $m-color-grey;
        margin-left: 3px;
        margin-right: 3px;
        white-space: nowrap;
    }
}
