// Max and min width
$m-max-width-xl: 1400px !default;
$m-max-width-lg: 1200px !default;
$m-max-width: 1000px !default;
$m-max-width-sm: 800px !default;
$m-max-width-xs: 400px !default;
$m-max-width-text: 720px !default;
$m-min-width: 320px !default;

// Box min-height and min width
$m-min-height-box: 80px !default;

// Space
$m-space-4xl: 64px !default;
$m-space-3xl: 56px !default;
$m-space-2xl: 48px !default;
$m-space-xl: 40px !default;
$m-space-lg: 32px !default;
$m-space-md: 24px !default;
$m-space: 16px !default;
$m-space-sm: 12px !default;
$m-space-xs: 8px !default;
$m-space-2xs: 4px !default;


// Headings space
$m-margin-h1: 0;
$m-margin-h2: $m-space-lg 0 0;
$m-margin-h3: $m-space-lg 0 0;
$m-margin-h4: $m-space-md 0 0;
$m-margin-h5: $m-space-md 0 0;
$m-margin-h6: $m-space-md 0 0;
$m-margin-paragraph: $m-space-sm 0 0;

// map variable to be used with m-space function
$m-space-map: (
    4xl: $m-space-4xl,
    3xl: $m-space-3xl,
    2xl: $m-space-2xl,
    xl: $m-space-xl,
    lg: $m-space-lg,
    md: $m-space-md,
    base : $m-space,
    sm: $m-space-sm,
    xs: $m-space-xs,
    2xs: $m-space-2xs
);
