// Min-width
$m-mq-min-xs: 480px !default;
$m-mq-min-sm: 768px !default;
$m-mq-min-md: 1024px !default;
$m-mq-min-lg: 1200px !default;
$m-mq-min-xl: 1600px !default;

// Max-width
$m-mq-max-xs: 479px !default;
$m-mq-max-sm: 767px !default;
$m-mq-max-md: 1023px !default;
$m-mq-max-lg: 1199px !default;
$m-mq-max-xl: 1599px !default;
