// ======================================================================
//  Max and min width
// ======================================================================
$m-max-width--xl: 1400px !default;
$m-max-width--l: 1200px !default;
$m-max-width: 1000px !default;
$m-max-width--s: 800px !default;
$m-max-width--xs: 400px !default;
$m-max-width--text: 720px !default;
$m-min-width: 320px !default;

// ======================================================================
//  Box min-height and min width
// ======================================================================
$m-box--min-height: 80px !default;

// ======================================================================
//  spacing
// ======================================================================

$m-space-xxxxl: #{var(--m-space-xxxxl)} !default;
$m-space-xxxl: #{var(--m-space-xxxl)} !default;
$m-space-xxl: #{var(--m-space-xxl)} !default;
$m-space-xl: #{var(--m-space-xl)} !default;
$m-space-lg: #{var(--m-space-lg)} !default;
$m-space-md: #{var(--m-space-md)} !default;
$m-space: #{var(--m-space)} !default;
$m-space-sm: #{var(--m-space-sm)} !default;
$m-space-xs: #{var(--m-space-xs)} !default;
$m-space-xxs: #{var(--m-space-xxs)} !default;

// ======================================================================
//  map variable to be used with m-space function
// ======================================================================
$m-space-map: (xxxxl: $m-space-xxxxl,
    xxxl: $m-space-xxxl,
    xxl: $m-space-xxl,
    xl: $m-space-xl,
    lg: $m-space-lg,
    md: $m-space-md,
    base : $m-space,
    sm: $m-space-sm,
    xs: $m-space-xs,
    xxs: $m-space-xxs);
