// ======================================================================
//  Fonts property
// ======================================================================
$m-font-path: '../assets/fonts/' !default;
$m-font-name: 'Source Sans Variable' !default;
$m-font-family: 'Source Sans Variable',
Arial,
sans-serif !default;
$m-font-family--fallback: 'Source Sans Pro',
Arial,
sans-serif !default;

// ======================================================================
//  App font size
// ======================================================================
$m-font-size-xl: #{var(--m-font-size-xl)} !default;
$m-font-size-lg: #{var(--m-font-size-lg)} !default;
$m-font-size-md: #{var(--m-font-size-md)} !default;
$m-font-size: #{var(--m-font-size)} !default;
$m-font-size-sm: #{var(--m-font-size-sm)} !default;
$m-font-size-xs: #{var(--m-font-size-xs)} !default;

// ======================================================================
//  Titles font size
// ======================================================================
$m-font-size-h1: #{var(--m-font-size-h1)} !default;
$m-font-size-h2: #{var(--m-font-size-h2)} !default;
$m-font-size-h3: #{var(--m-font-size-h3)} !default;
$m-font-size-h4: #{var(--m-font-size-h4)} !default;
$m-font-size-h5: #{var(--m-font-size-h5)} !default;
$m-font-size-h6: #{var(--m-font-size-h6)} !default;

// ======================================================================
//  Font weight
// ======================================================================
$m-font-weight-range: 200 900;
$m-font-weight-black: #{var(--m-font-weight-black)} !default;
$m-font-weight-bold: #{var(--m-font-weight-bold)} !default;
$m-font-weight-semi-bold: #{var(--m-font-weight-semi-bold)} !default;
$m-font-weight-regular: #{var(--m-font-weight-regular)} !default;
$m-font-weight: #{var(--m-font-weight)} !default; // À supprimer une fois les remplacements de variables fait dans Brio
$m-font-weight-light: #{var(--m-font-weight-light)} !default;

// ======================================================================
//  Line height
// ======================================================================
$m-line-height: #{var(--m-line-height)} !default;

$m-font-size-map: ('h1': $m-font-size-h1,
    'h2': $m-font-size-h2,
    'h3': $m-font-size-h3,
    'h4': $m-font-size-h4,
    'h5': $m-font-size-h5,
    'h6': $m-font-size-h6,
    'base': $m-font-size,
    'xl': $m-font-size-xl,
    'lg': $m-font-size-lg,
    'md': $m-font-size-md,
    'sm': $m-font-size-sm,
    'xs': $m-font-size-xs)
