// ======================================================================
//  Min-width
// ======================================================================
$m-mq-min-xs: 480px !default;
$m-mq-min-sm: 768px !default;
$m-mq-min-md: 1024px !default;
$m-mq-min-lg: 1200px !default;
$m-mq-min-xl: 1600px !default;

$m-mq--from-phone-portrait: $m-mq-min-xs !default;
$m-mq--from-tablet-portrait: $m-mq-min-sm !default;
$m-mq--from-tablet-landscape: $m-mq-min-md !default;
$m-mq--from-laptop: $m-mq-min-lg !default;
$m-mq--from-desktop: $m-mq-min-xl !default;

// ======================================================================
//  Max-width
// ======================================================================
$m-mq-max-xs: 479px !default;
$m-mq-max-sm: 767px !default;
$m-mq-max-md: 1023px !default;
$m-mq-max-lg: 1199px !default;
$m-mq-max-xl: 1599px !default;

$m-mq--less-than-phone-portrait: $m-mq-max-xs !default;
$m-mq--less-than-tablet-portrait: $m-mq-max-sm !default;
$m-mq--less-than-tablet-landscape: $m-mq-max-md !default;
$m-mq--less-than-laptop: $m-mq-max-lg !default;
$m-mq--less-than-desktop: $m-mq-max-xl !default;
