@import 'commons';

.m-menu-item {
    --m-menu--indicator-width: 0;
    --m-menu--selected-indicator-width: #{ $m-border-width--l };

    position: relative;

    &.m--is-anim-ready {
        .m-menu-item__link {
            transition: color $m-transition-duration ease, font-weight $m-transition-duration ease;
        }
    }

    &.m--is-selected:not(.m--is-custom-content) {
        --m-menu--font-weight: var(--m-menu--selected-font-weight);

        &:not(.m--is-group) {
            --m-menu--color: var(--m-menu--selected-color);
            --m-menu--indicator: var(--m-menu--selected-indicator);
            --m-menu--indicator-width: var(--m-menu--selected-indicator-width);

            stroke-width: 1.5px;
        }
    }

    &.m--is-inside-group {
        --m-menu--color: var(--m-menu--group-color);
        --m-menu--border: var(--m-menu--group-border);
        --m-menu--background-color: var(--m-menu--group-background-color);
        --m-menu--text-transform: var(--m-menu--group-text-transform);
        --m-menu--font-weight: var(--m-menu--group-font-weight);
        --m-menu--indicator: var(--m-menu--group-indicator);
        --m-menu--hover-indicator: var(--m-menu--group-hover-indicator);

        &.m--is-selected:not(.m--is-custom-content) {
            --m-menu--color: var(--m-menu--group-selected-color);
            --m-menu--indicator: var(--m-menu--group-selected-indicator);
            --m-menu--font-weight: var(--m-menu--group-selected-font-weight);
        }
    }

    &__link.m-menu-item__link { // must double specificity to compensate the stupid issue with m-u--app-body
        outline: none;
        display: flex;
        position: relative;
        align-items: center;
        text-decoration: none;
        color: var(--m-menu--color);
        padding: var(--m-menu--padding);
        min-height: var(--m-menu--min-height);
        border-top: var(--m-menu--border);
        font-weight: var(--m-menu--font-weight);
        text-transform: var(--m-menu--text-transform);
        background-color: var(--m-menu--background-color);

        &:not(.m--is-disabled):not(.m--is-custom-content) {
            &:hover,
            &:focus {
                --m-menu--color: var(--m-menu--hover);

                &::before {
                    background-color: var(--m-menu--hover-indicator);
                }
            }
        }

        &::before,
        &::after {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            content: '';
            background: var(--m-menu--indicator);
            transition: width $m-transition-duration ease, background-color $m-transition-duration ease;
            background-color: var(--m-menu--indicator);
        }

        &::before {
            width: var(--m-menu--selected-indicator-width);
        }

        &::after {
            width: var(--m-menu--indicator-width);
        }
    }

    &__icon {
        font-size: 20px; // Magic number
        stroke-width: inherit;
        margin-right: $m-spacing--s;
    }

    &__label {
        flex: 1 1 auto;
    }

    &__group {
        padding: 0;
        margin: 0;
        list-style: none;
    }
}
