@import 'commons';
@import '../var-menu';

// .m-menu.m--is-skin-light {
//     .m-menu-item {
//         &.m--is-inside-group {
//             > .m-menu-item__link {
//                 background: $m-menu-color--skin-light-bg-dark;

//                 &::before {
//                     background: $m-menu-color--skin-light-bg-light;
//                 }
//             }

//             &:not(.m--is-disabled) {
//                 > .m-menu-item__link {
//                     &:hover::before,
//                     &:focus::before {
//                         background: $m-color--interactive-light;
//                     }
//                 }
//             }
//         }

//         &__link {
//             color: rgba($m-color--white, 0.7);
//             background: $m-menu-color--skin-light-bg-light;
//         }
//     }
// }

// .m-menu.m--is-skin-dark {
//     .m-menu-item {
//         &.m--is-inside-group {
//             > .m-menu-item__link {
//                 background: $m-menu-color--skin-dark-bg-dark;

//                 &::before {
//                     background: $m-menu-color--skin-dark-bg-light;
//                 }
//             }

//             &:not(.m--is-disabled) {
//                 > .m-menu-item__link {
//                     &:hover::before,
//                     &:focus::before {
//                         background: $m-color--grey-darker;
//                     }
//                 }
//             }
//         }

//         &__link {
//             color: $m-color--grey-light;
//             background: $m-menu-color--skin-dark-bg-light;
//         }
//     }
// }

.m-menu-item {
    position: relative;

    &.m--is-anim-ready {
        .m-menu-item__link {
            transition: color $m-transition-duration ease, font-weight $m-transition-duration ease;
        }
    }

    &:not(.m--is-disabled) {
        cursor: pointer;
    }

    &.m--is-disabled {
        --m-menu--hover: var(--m-menu--color);
    }

    &.m--is-selected {
        --m-menu--color: var(--m-menu--selected-color);
        --m-menu--indicator: var(--m-menu--selected-indicator);
        --m-menu--font-weight: var(--m-menu--selected-font-weight);
        --m-menu--indicator-width: var(--m-menu--selected-indicator-width);

        stroke-width: 1.5px;
    }

    &.m--is-inside-group {
        --m-menu--color: var(--m-menu--group-color);
        --m-menu--border-color: var(--m-menu--group-border-color);
        --m-menu--background-color: var(--m-menu--group-background-color);
        --m-menu--text-transform: var(--m-menu--group-text-transform);
        --m-menu--font-weight: var(--m-menu--group-font-weight);
        --m-menu--indicator: var(--m-menu--group-indicator);
        --m-menu--indicator-width: 0;
        //
        &.m--is-selected {
            --m-menu--color: var(--m-menu--group-selected-color);
            --m-menu--indicator: var(--m-menu--group-selected-indicator);
            --m-menu--font-weight: var(--m-menu--group-selected-font-weight);
            --m-menu--indicator-width: var(--m-menu--selected-indicator-width);
        }
    }

    &__link {
        cursor: inherit;
        outline: none;
        display: flex;
        position: relative;
        align-items: center;
        text-decoration: none;
        color: var(--m-menu--color);
        padding: var(--m-menu--padding);
        min-height: var(--m-menu--min-height);
        border-top: 1px solid var(--m-menu--border-color);
        font-weight: var(--m-menu--font-weight);
        text-transform: var(--m-menu--text-transform);
        background-color: var(--m-menu--background-color);

        &:hover,
        &:focus {
            --m-menu--color: var(--m-menu--hover);
        }

        &::before {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            content: '';
            width: var(--m-menu--indicator-width);
            background: var(--m-menu--indicator);
            transition: width $m-transition-duration ease;
        }
    }

    &__icon {
        font-size: 20px; // Magic number
        stroke-width: inherit;
        margin-right: $m-spacing--s;
    }

    &__label {
        flex: 1 1 auto;
    }

    &__group {
        padding: 0;
        margin: 0;
        list-style: none;
    }
}
