@charset 'utf-8';

// ======================================================================
//  local commons
// ======================================================================

@import
    'commons';

// ======================================================================
//  vendor / plugins
// ======================================================================
@import 'vendor/hljs';

// ======================================================================
//  utils
// ======================================================================

@import
    'utils/base',
    'utils/typography',
    'utils/animations',
    'utils/dropdown',
    'utils/preview-img',
    'utils/navbar';

// ======================================================================
//  Layout
// ======================================================================
@import
    'layout/footer';

// ======================================================================
//  global components
// ======================================================================
@import
    'components/demo';
