@import '../commons/';

$m-backdrop-bg: rgba(0, 0, 0, 0.6);

@mixin m-backdrop-variables() {
    --m-backdrop-z-index: 99;
    --m-backdrop-bg: #{$m-backdrop-bg};
}

@mixin m-backdrop($z-index: 0, $bg: $m-backdrop-bg) {
    @include m-window($z-index);
    opacity: 0;

    background-color: $bg;
}

@mixin m-backdrop-grey() {
    background-color: var(--m-color-grey-lighter);
}

@mixin m-backdrop-open($transition-duration: $m-transition-duration) {
    transition: opacity $transition-duration linear;
    opacity: 1;
}

@mixin m-backdrop-close($transition-duration: $m-transition-duration) {
    transition: opacity $transition-duration linear;
    opacity: 0;
}
