<div class="modul-demo">
    <div class="m-u--visually-hidden">
        <slot></slot>
    </div>

    <div class="modul-demo__block">
        <div class="modul-demo__wrapper">
            <button @click.prevent="isOpened = !isOpened"
                    class="modul-demo__button">{{ openCloseLabel }}</button>
        </div>

        <m-accordion-transition>
            <div v-if="isOpened">
                <div class="modul-demo__code">
                    <div class="modul-demo__code__arrow"></div>
                    <ul class="modul-demo__code__header">
                        <li>
                            <button class="modul-demo__code__header__button"
                                    :class="{'active': htmlActive}"
                                    @click="switchTab('html')"
                                    type="button">HTML</button>
                        </li>
                        <li v-if="hasJs">
                            <button class="modul-demo__code__header__button"
                                    :class="{'active': jsActive}"
                                    @click="switchTab('js')"
                                    type="button">JS</button>
                        </li>
                        <li v-if="hasCss">
                            <button class="modul-demo__code__header__button"
                                    :class="{'active': cssActive}"
                                    @click="switchTab('css')"
                                    type="button">CSS</button>
                        </li>
                    </ul>

                    <pre class="modul-demo__code__content"
                         :class="{'active': htmlActive}">
                        <code class="modul-demo__code__content__code" v-html="htmlHl"></code>
                    </pre>

                    <pre class="modul-demo__code__content"
                         :class="{'active': jsActive}"
                         v-if="hasJs">
                        <code class="modul-demo__code__content__code" v-html="jsHl"></code>
                    </pre>

                    <pre class="modul-demo__code__content"
                         :class="{'active': cssActive}"
                         v-if="hasCss">
                        <code class="modul-demo__code__content__code" v-html="cssHl"></code>
                    </pre>
                </div>
            </div>
        </m-accordion-transition>

        <div class="modul-demo__preview">
            <div ref="demoContent"></div>
        </div>
    </div>
</div>
