@import '../../styles/commons';

$modul-menu--list-max-width: 300px;
$modul-menu-offset-left: calc(var(m-space-xs) + 2);
$modul-menu-beta-width: 24px;
$modul-menu-transition-duration: 0.7s;

.mw-panel {
    position: fixed;
    top: $mw-header-height--s;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    overflow-y: auto;
    overflow-x: hidden;
    background: $modul-color--black-grey;
    color: $modul-color--grey-light;
    outline: none;
    box-shadow: $m-box-shadow--l;

    @media (min-width: #{$m-mq--min--s}) {
        top: $mw-header-height;
    }

    @media (min-width: #{$m-mq--min--s}) {
        padding: $m-space-xxxxl $m-space 0 $m-space;
    }

    @media (min-width: #{$m-mq--min--l}) {
        padding-left: calc(var(--m-space-xxxxl) * 2);
        padding-right: calc(var(--m-space-xxxxl) * 2);
    }

    &.mw--is {
        &-enter-active {
            transition: transform #{$modul-CSS_ANIMATION_MENU_DURATION} ease;
        }

        &-leave-active {
            transition: transform #{$modul-CSS_ANIMATION_MENU_DURATION} ease;
        }

        &-leave-active,
        &-enter {
            transform: translate3d(0, -102%, 0);
        }
    }

    &__close-button {
        position: absolute;
        top: 0;
        right: 0;

        @media (max-width: #{$m-mq--min--s}) {
            display: none;
        }
    }
}
