@import 
    'decoration',
    'layout',
    'space',
    'text';

.mu-visually-hidden {
    @include m-visually-hidden;
}

.mu-label {
    font-size: var(--m-font-size);
    font-weight: var(--m-font-weight-semi-bold);
}

.mu-asterisk {
    color: var(--m-color-accent);
    font-weight: var(--m-font-weight-bold);
}

