.mu-display {
    $values:
        block,
        flex,
        inline,
        inline-block,
        grid,
        none;

    @include m-attribute-values-factory(display, $values);
}

.mu-flex-direction {
    $values: 
        column,
        column-reverse,
        row,
        row-reverse;

    @include m-attribute-values-factory(flex-direction, $values);
}

.mu-justify-content {
    $values:
        flex-start,
        flex-end,
        start,
        end,
        self-start,
        self-end,
        right,
        left,
        space-around,
        space-between,
        space-evenly,
        center,
        stretch;

    @include m-attribute-values-factory(justify-content, $values);
}

.mu-align-item {
    $values:
        flex-start, 
        flex-end,
        start,
        end,
        self-start,
        self-end,
        baseline,
        center,
        stretch;

    @include m-attribute-values-factory(align-items, $values);
}

.mu-max-width {
    @include m-media-queries-content-factory() {
        max-width: var(--m-max-width);
    }

    $values: xl, lg, sm, xs, text;

    @each $value in $values {
        &-#{$value} {
            @include m-media-queries-content-factory() {
                max-width: var(--m-max-width-#{$value});
            } 
        }
    }
}

.mu-min-width {
    @include m-media-queries-content-factory() {
        min-width: var(--m-min-width);
    }
}

.mu-width {
    $values: 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100;

    @each $value in $values {
        &-#{$value} {
            @include m-media-queries-content-factory() {
                width: $value * 1%;
            }
        }
    }

    &-33 {
        @include m-media-queries-content-factory() {
            width: 33.33%;
        }
    }
}

.mu-center-block {
    @include m-media-queries-content-factory() {
        max-width: var(--m-max-width); 
    }

    &,
    &-xl,
    &-lg,
    &-sm,
    &-xs {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }

    $values: xl, lg, sm, xs;

    @each $value in $values {
        &-#{$value} {
            @include m-media-queries-content-factory() {
                max-width: var(--m-max-width-#{$value});
            } 
        }
    }
}


