.mc-textfield {
    @include m-textfield-variabled();

    @include m-textfield();

    &__label {
        @include m-textfield-label();

        ~ .mc-textfield__field {
            @include m-textfield-field-margin-top();
        }
    }

    &:not(.mc-textfield--disabled) .mc-textfield__label {
        cursor: pointer;
    }
    
    &__field {
        @include m-textfield-field();
    }

    &.mc-textfield--disabled .mc-textfield__field,
    &__field:disabled {
        border: var(--m-border-width) dotted var(--m-color-disabled);
        cursor: not-allowed;
        color: var(--m-color-disabled);
    }

    &.mc-textfield--read-only .mc-textfield__field,
    &__field:read-only:not(select) {
        border-style: dotted;
    }

    &__message {
        @include m-textfield-message();
    }

    &:not(.mc-textfield--valid):not(.mc-textfield--error):not(.mc-textfield--disabled) {
        .mc-textfield__field {
            &:hover:not(:focus):not(:disabled) {
                --m-textfield-border-color: var(--m-color-text);
            }
        }
    }

    &.mc-textfield--focus:not(.mc-textfield--valid):not(.mc-textfield--error):not(.mc-textfield--disabled),
    &:not(.mc-textfield--valid):not(.mc-textfield--error):not(.mc-textfield--disabled) .mc-textfield__field:focus:not(:disabled) {
        --m-color-border: var(--m-color-interactive);
    }

    &.mc-textfield--valid {
        @include m-textfield-valid();
    }

    &.mc-textfield--error {
        @include m-textfield-error();
    }

    &.mc-textfield--width-lg {
        @include m-textfield-width-lg();
    }

    &.mc-textfield--width-md {
        @include m-textfield-width-md();
    }

    &.mc-textfield--width-sm {
        @include m-textfield-width-sm();
    }

    &.mc-textfield--width-xs {
        @include m-textfield-width-xs();
    }
}