@import 'commons';

.m-organize-table-columns {
    &__loading {
        margin-top: $m-space-md;
    }

    &__header {
        padding: $m-space-md $m-space $m-space;
        background-color: $m-color-grey-lighter;

        p {
            margin: $m-space 0 0 0;
        }
    }

    &__title {
        @include m-h4-font-style();

        margin: 0;
        text-align: center;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    &__item-title {
        display: flex;
        align-items: center;
    }

    &__visible-columns,
    &__hidden-columns {
        margin: 0;
        list-style: none;
    }

    &__item-title-text {
        margin-left: 6px;
    }

    &__list-item {
        padding-top: $m-space;
        padding-bottom: $m-space;
    }
}
