@import 'commons';

.m-organize-table-columns {
    &__loading {
        margin-top: $m-margin--l;
    }

    &__header {
        padding: $m-spacing--m $m-spacing $m-spacing;
        background-color: $m-color--grey-lighter;

        p {
            margin: $m-spacing 0 0 0;
        }
    }

    &__title {
        @include m-h4-font-style();

        margin: 0;
        text-align: center;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    &__item-title {
        display: flex;
        align-items: center;
    }

    &__visible-columns,
    &__hidden-columns {
        margin: 0;
        list-style: none;
    }

    &__item-title-text {
        margin-left: $m-margin--s;
    }

    &__list-item {
        padding-top: $m-padding;
        padding-bottom: $m-padding;
    }
}
