@import 'commons';

.organize-table-columns {
    &__loading {
        margin-top: $m-margin--l;
    }

    &__visible-columns__list {
        margin: 0;
    }

    &__title {
        background-color: $m-color--grey-lighter;
        padding: $m-padding--l  $m-padding--s $m-padding--s;

        h4 {
            padding: 0 $m-padding--l  $m-padding--l;
            margin: 0;
            text-align: center;
        }

        span {
            margin-left: $m-margin--l;
        }
    }

    &__item {
        display: flex;
        justify-content: space-between;
        padding: 0 $m-padding;
        position: relative;
    }

    &__item-title {
        display: flex;
        align-items: center;
    }

    &__item-title-text {
        margin-left: $m-margin--s;
    }

    &__item-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        width: 38px;
    }

    .m-list-item {
        padding-top: $m-padding;
        padding-bottom: $m-padding;
    }
}
