.mw-website__footer {
    position: relative;
    z-index: 0;

    &-wrap {
        color: m-color(white);
        text-transform: uppercase;
        background-color: $modul-color--black-grey-dark;
    }

    &.mw--is-large-footer {
        height: 190px;

        .mw-website__footer-wrap {
            position: fixed;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 0;
            padding: $m-spacing--xxl;
            text-align: center;
        }

        a {
            width: 130px;
            margin: $m-spacing auto 0 auto;
        }
    }

    &:not(.mw--is-large-footer) {
        font-size: $m-font-size--s;

        .mw-website__footer-wrap {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: $m-spacing;
        }

        a {
            width: 80px;
            margin-left: $m-spacing--s;
        }
    }

    a {
        display: block;
    }

    img {
        width: 100%;
    }

    p {
        margin: 0;
    }
}
