.modul-u--preview-img--dark {
    fill: $modul-color--black-grey-dark;
}

.modul-u--preview-img {
    fill: $modul-color--black-grey-dark;
    opacity: 0.5;
}

.modul-u--preview-img--light {
    fill: $modul-color--black-grey-dark;
    opacity: 0.3;
}
