// ======================================================================
//  Titles
// ======================================================================

.modul-u--h1,
.modul-u--h2,
.modul-u--h3,
.modul-u--h4,
.modul-u--h5,
.modul-u--h6 {
    color: $modul-color--black-grey-dark;
    line-height: 1.2;
}

.modul-u--h4,
.modul-u--h5,
.modul-u--h6 {
    @include m-font-size();
    margin: $m-space-md 0 0 0;
}

.modul-u--h1,
.modul-u--h2 {
    text-transform: uppercase;
    font-weight: $m-font-weight-black;
    @include m-font-size('h3');
}

.modul-u--h1 {
    margin: 0;
}

.modul-u--h2 {
    margin: $m-space-lg 0 0 0;
}

.modul-u--h3 {
    @include m-font-size('h4');
    margin: $m-space-lg 0 0 0;
}

.modul-u--h4 {
    font-weight: $m-font-weight-black;
}

.modul-u--h5 {
    font-weight: $m-font-weight-bold;
}

// ======================================================================
//  links
// ======================================================================

.m-u--app-body .mw-u--highlighted-title {
    @include mw-highlighted-title();
}

.m-u--app-body .mw-u--highlighted-title-link {
    cursor: pointer;
    outline: none;

    >a {
        text-decoration: none;
        color: $m-color-white;
        outline: none;
    }

    @include mw-highlighted-title();

    &:active {
        outline: none;
    }

    &:hover,
    &:focus {
        &::before {
            width: 64px; // Magic number
        }
    }

    &::before {
        transition: width 0.3s ease;
    }
}
