@import '../../styles/commons';
@import '../../styles/components/do-dont';

.modul-do {
    border-color: $m-color-success;

    &__header {
        color: $m-color-success !important;
    }

    ul {
        li {
            position: relative;
            list-style: none;

            &::before {
                position: absolute;
                top: 9px; //Magic number
                left: calc(-1 * $m-space);

                @include m-triangle(right, $m-color-success, 10px);
            }

            +li {
                margin-top: $m-space-xs;
            }
        }
    }
}
