// Min Width
$m-mq-min-xl: 1600px;
$m-mq-min-lg: 1200px;
$m-mq-min-md: 1024px;
$m-mq-min-sm: 768px;
$m-mq-min-xs: 480px;

// Max Width
$m-mq-max-xl: 1599px;
$m-mq-max-lg: 1199px;
$m-mq-max-md: 1023px;
$m-mq-max-sm: 767px;
$m-mq-max-xs: 479px;
