// Max Width and Min Width
$m-max-width-xl: 1400px !default;
$m-max-width-lg: 1200px !default;
$m-max-width: 1000px !default;
$m-max-width-sm: 800px !default;
$m-max-width-xs: 400px !default;
$m-max-width-text: 720px !default;
$m-min-width: 320px !default;

// Box min-height and min width
$m-min-height-box: 80px !default;

// Scrollbar Width
$m-scrollbar-width: 8px !default;

// Touch Sizes
$m-touch-size-lg: 48px !default;
$m-touch-size: 44px !default;
$m-touch-size-sm: 38px !default;
