@import 'commons';

.m-textarea {
    position: relative;
    display: inline-flex;
    flex-direction: column;

    @include m-input-inline-spacing();

    &__label {
        font-size: $m-font-size;
        font-weight: $m-font-weight--semi-bold;
    }

    &__validation {
        display: flex;
        justify-content: flex-end;

        &-message {
            flex: 1 1 auto;
        }

        &-character-count {
            flex-shrink: 0;
        }
    }
}
