<div>
    <h2 class="mu-h4 mu-no-m">Confirm service</h2>
    <m-button @click="onAlertService()">Trigger a confirm dialog with the $dialog service</m-button>
    <br />
    <br />

    <h2 class="mu-h4 mu-no-m">Alert service</h2>
    <m-button @click="onConfirmService()">Trigger a alert dialog with the $dialog service</m-button>
    <br />
    <br />

    <h2 class="mu-h4 mu-no-m">Generic service</h2>
    <m-button @click="onConfirmGenericServiceWithOptions()">Trigger a alert dialog with the $dialog.generic(options) service</m-button>
    <m-button @click="onConfirmServiceSecondaryButton()">Trigger a alert dialog with the $dialog.generic(...args) service</m-button>
    <br />
    <br />

    <h2 class="mu-h4 mu-no-m">Service custom dialog</h2>
    <m-button @click="onCustomConfirmService()">Trigger a custom dialog with the $dialog service</m-button>
    <br />
    <br />
    <m-dialog title="Dialog State #3"
              state="confirmation"
              ref="customDialog">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis, delectus, quisquam nobis recusandae, vel
        doloribus iure sapiente debitis nisi pariatur impedit asperiores magni rerum ratione qui voluptatum dolorum vero
        id!
    </m-dialog>
</div>
