// Font Family

// Font Family
$m-font-family: 'Source Sans Variable' !default;
$m-font-family-fallback: 'Source Sans Pro' !default;
$m-font-family-headings: $m-font-family;
$m-font-family-headings-fallback: $m-font-family-fallback !default;
$m-font-family: $m-font-family !default;

// App Font Size
$m-font-size-xl: 22;
$m-font-size-lg: 20;
$m-font-size-md: 18;
$m-font-size: 16;
$m-font-size-sm: 14;
$m-font-size-xs: 12;

// Heading Font Size
$m-font-size-h1: #{var(--m-font-size-h1)};
$m-font-size-h2: #{var(--m-font-size-h2)};
$m-font-size-h3: #{var(--m-font-size-h3)};
$m-font-size-h4: #{var(--m-font-size-h4)};
$m-font-size-h5: #{var(--m-font-size-h5)};
$m-font-size-h6: #{var(--m-font-size-h6)};

// Font Weight
$m-font-weight-range: 200 900;
$m-font-weight-black: 650;
$m-font-weight-bold: 575;
$m-font-weight-semi-bold: 500;
$m-font-weight-regular: 425;
$m-font-weight: 425; // À supprimer une fois les remplacements de variables fait dans Brio
$m-font-weight-light: 350;
$m-font-weight-heading: $m-font-weight-semi-bold;

// Line Height
$m-line-height: #{var(--m-line-height)};
$m-line-height-heading: #{var(--m-line-height-heading)};

$m-font-size-map: (
    'h1': $m-font-size-h1,
    'h2': $m-font-size-h2,
    'h3': $m-font-size-h3,
    'h4': $m-font-size-h4,
    'h5': $m-font-size-h5,
    'h6': $m-font-size-h6,
    'base': $m-font-size,
    'xl': $m-font-size-xl,
    'lg': $m-font-size-lg,
    'md': $m-font-size-md,
    'sm': $m-font-size-sm,
    'xs': $m-font-size-xs)
